@use "./reset";
@use "./module/variable"as var;
@use "./module/*";


body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.main{
    //PC対応

    //タブレット対応
    @media screen and (max-width: var.$tabw) {

    }
    //SP対応
    @media screen and (max-width: var.$spbp) {

    }
}

.footer{
    //PC対応

    //タブレット対応
    @media screen and (max-width: var.$tabw) {

    }
    //SP対応
    @media screen and (max-width: var.$spbp) {

    }
}




.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.8s, transform 1.2s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}



a{
    &:hover{
        opacity: 0.7;
    }
    @media screen and (max-width: var.$spbp) {
        &:hover{
            opacity: 1;
        }
    }
    
}


.fixedbnr{
    position: fixed;
    right: 0;
    bottom: 5vw;
    background-image: url('../img/fixedbnr.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 306px;
    height: 153px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
    transition: .3s;

    &__flx{
        display: flex;
        justify-content: space-between;
        width: 260px;
        margin:  0 auto;
        padding: 39px 0 0;
        &--x{
            @include var.bg();
            background-image: url('../img/btn_x-0311.png');
            width: 111px;
            height: 33px;
            background-size: cover;
            background-repeat: no-repeat;

        }
        &--insta{
            @include var.bg();
            background-image: url('../img/btn_insta-0311.png');
            width: 137px;   
            height: 33px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__flx02{
        display: flex;
        justify-content: space-between;
        width: 260px;
        margin:  0 auto;
        padding: 9px 0 19px;
        .main__intro--camp-app01{
            width:  111px;
            height: 41px;
        }
        .main__intro--camp-app02{
            width:  138px;
            height: 41px;
        }
    }
    @media screen and (max-width: var.$spbp) {
        width: 238px;
        height: 108px;
        box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
        &__flx{
            display: flex;
            justify-content: space-between;
            width: 192px;
            margin:  0 auto;
            padding: 56px 0 0;
            &--x{
                @include var.bg();
                background-image: url('../img/btn_x-0311.png');
                width: 83px;
                height: 25px;
                background-size: cover;
                background-repeat: no-repeat;
    
            }
            &--insta{
                @include var.bg();
                background-image: url('../img/btn_insta-0311.png');
                width: 104px;
                height: 25px;
                background-size: cover;
                background-repeat: no-repeat;
    
            }
        }
        &__flx02{
            display: flex;
            justify-content: space-between;
            width: 192px;
            margin:  0 auto;
            padding: 9px 0 14px;
            .main__intro--camp-app01{
                width:  81px;
                height: 30px;
            }
            .main__intro--camp-app02{
                width:  101px;
                height: 30px;
            }
        }
    }
}


.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

//CampaignBnr 変更部分
.fixedbnr{
    background-image: url('../img/bg_fixbnr_0311.png');

    &__flx{
        padding: 53px 0 0;
        &--line{
            @include var.bg();
            background-image: url('../img/bg_linebtn-x.png');
            width: 36px;
            height: 36px;
        }
        &--insta{
            background-image: url('../img/bg_instabtn-s.png');
            width: 36px;
            height: 36px;
        }
        &--x{
            background-image: url('../img/bg_xbtn-s.png');
            width: 36px;
            height: 36px;
        }
    }
    @media screen and (max-width: var.$spbp) {
        height: 118px;
        &__flx{
            padding-top: 40px;
        }
    }
}

//0321変更部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.fixedbnr{
    background-image: url('../img/bg_fixbnr_0321.png');
    width: 286px;
    height: 154px;
    &__flx02{
        width: 240px;
        margin: 0 auto;
        padding: 50px 0 0;
        .main__intro--camp-app01{
            width: 105px;
            height: 39px;
        }
        .main__intro--camp-app02{
            width: 131px;
            height: 38.6px;
        }
    }
    &__flx{
        width: 146px;
        margin: 0 auto;
        padding: 10px 0 10px;
    }
    @media screen and (max-width: var.$spbp) {
        
    }
}