
<footer class="cfooter footer" id="footer">

    <div class="cfooter__inner">
        <div class="cfooter__blc">
            <a href="https://www.ginbis.co.jp/" target="_blank" rel="noopener noreferrer" class="cfooter__ginbis">ギンビス株式会社</a>
            <a href="https://tabekkotime.jp/" target="_blank" rel="noopener noreferrer" class="cfooter__time">たべっ子どうぶつTime</a>

        </div>
        <a href="https://www.jvcmusic.co.jp/" target="_blank" rel="noopener noreferrer" class="cfooter__victor">ビクターエンターテイメント</a>
        <ul class="cfooter__links">
            <li>
                <a href="/campaign/audition_term.html">オーディション応募規約</a>
            </li>
            <li>
                <a href="/campaign/present_term.html">プレゼントキャンペーン応募規約</a>
            </li>

            <li>
                <a href="https://twinplanet.co.jp/privacy-policy/" target="_blank" rel="noopener noreferrer" >個人情報保護について</a>
            </li>
        </ul>
        <ul class="cfooter__links">
            <li>
                <a href="mailto:campaign_audition@tabekkotime.jp">オーディションのお問合せ</a>
            </li>
            <li>
                <a href="mailto:campaign_present@tabekkotime.jp">プレゼントキャンペーンのお問合せ</a>
            </li>
        </ul>

        <p class="cfooter__notice">
            ©GINBIS<br> 
            ©TWIN PLANET<br>
            ©VICTOR ENTERTAINMENT<br>
            ©Dynamic track / Prime number</p>
    </div>

</footer>