<div class="event" id="event">
  <div class="inner">
    <h2 class="event__ttl">イベント情報</h2>
    <a href="#schedule" class="event__btn">
      <img src="./assets/img/btn_event.png" alt="CD予約者限定 撮影会イベント" width="1600" height="322">
    </a>
    <div class="event__blc">
      <h3 class="event__blc--ttl">イベントスケジュール</h3>
      <ul class="event__list">
        <li>
          <div class="event__date--wrapper">
            <div class="event__date">
              <span class="event__date--mon">10</span>
              <span class="event__date--day">06</span>
              <span class="event__date--week">SUN</span>
            </div>
        
            <div class="event__list--btn">
              <h3 class="event__list--type">EVENT<br><span>1部･･･13:00~</span> <span>2部･･･16:00~</span></h3>
              <div class="event__list--areain">
                <p class="event__list--area">愛知</p>
                <div>
                  <p class="event__list--basyo">リリースイベント<br>in イオンモール大高　1Fグリーンコート</p>
                  <div class="event__list--arrow">
                    <p>
                      <span class="event__list--basyospan">詳細はこちら<span class="arrow"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        
          <div class="event__details">
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">スケジュール</h4>
              <p class="event__details--txt">2024年10月6日(日) 1部･･･13:00スタート　　2部･･･16:00スタート  <br>
                <a href="https://odaka-aeonmall.com/" target="_blank">愛知県・イオンモール大高 1Fグリーンコート（愛知県名古屋市緑区南大高２丁目４５０）</a></p>
              <p class="event__details--note">※登場するどうぶつさん・・・らいおんくん、うさぎさん、ねこさん</p>
              <p class="event__details--note">※登場するたべっ子キッズ（メンバー）・・・RIIKU、KOTONE、SAYA</p>
              <p class="event__details--note">※CD販売：11:00スタート</p>
              <p class="event__details--note">※優先エリア集合：1部…12:30　2部…15:30</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">イベント内容</h4>
              <p class="event__details--txt">ゲーム大会＆スペシャルパフォーマンス、撮影会</p>
        
              <h5 class="event__details--subttl">ゲーム大会</h5>
              <p class="event__details--txt">パズルゲームアプリ「たべっ子どうぶつTime」をみんなでプレイ！</p>
              <p class="event__details--note">※アプリをダウンロードの上、会場でゲームをプレイした方の中から上位入賞の方には特典もございます！</p>
        
              <h5 class="event__details--subttl">スペシャルパフォーマンス</h5>
              <p class="event__details--txt">たべっ子キッズ＆どうぶつさんによる「ツブウド・コッベタ」スペシャルパフォーマンス</p>
              <h5 class="event__details--subttl">どうぶつさんとの撮影会</h5>
              <p class="event__details--txt">当日、イベント会場にてCDをご購入頂いた方は、先着でどうぶつさんとの写真撮影会にご参加いただけます。</p>
              <p class="event__details--note">※どのどうぶつさんと写真が撮れるかは、ランダム（くじ引き）になります。</p>
              <p class="event__details--note">※撮影は、お客様のスマートフォンのみでスタッフが撮影いたします。</p>
              <p class="event__details--note">※「たべっ子キッズ」キッズメンバーではなく、どうぶつさんとの撮影になります</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">対象商品</h4>
              <p class="event__details--txt">9月24日発売<br>
                たべっ子キッズDebut Single「ツブウド・コッベタ」（通常盤）<br>
                VICL-37749 税込 ¥1,650（税抜 ¥1,500）</p>
              <p class="event__details--note">※グッズ付き限定盤は対象外です。</p>
        
              <h5 class="event__details--subttl">イベント参加方法</h5>
              <p class="event__details--txt">当日、イベント会場にて、対象商品をご購入の方に、先着で「優先エリア券」「グリーティング参加券」（どうぶつ名付き）をお渡しします。</p>
              <p class="event__details--note">・1部、2部どちらに参加されるかをお選びください。</p>
              <p class="event__details--note">・「優先エリア券」はお1人様1枚のお渡しです。<br>（2枚以上ご購入いただいたお客様には、1部2部の「優先エリア券」を各1枚お渡しします。）</p>
              <p class="event__details--note">・「グリーティング参加券」はCDご購入枚数と同枚数をお渡しします。</p>
              <p class="event__details--note">・「グリーティング参加券」の（どうぶつ名）は、くじ引きでのお渡しとなります。<br>（どうぶつさんの指定はできません。）</p>
              <p class="event__details--note">・どちらも枚数に限りがあります。無くなり次第終了となります。</p>
        
        
              <h5 class="event__details--subttl">ゲーム大会＆スペシャルパフォーマンス</h5>
              <p class="event__details--txt">「優先エリア券」をお持ちの方は、優先エリアにご入場いただけます。</p>
              <p class="event__details--note">（「優先エリア券」をお持ちで無い方は、「優先エリア」外よりフリーでご観覧いただけます。）</p>
        
        
              <h5 class="event__details--subttl">撮影会</h5>
              <p class="event__details--txt">「グリーティング参加券」をお持ちの方は、参加券に記載のどうぶつさんとの撮影会にご参加いただけます。</p>
              <p class="event__details--note">・「グリーティング参加券」1枚につき、1回の撮影が可能です。<br>（1組2名様まで。未就学児童を含む場合は1組3名様まで）</p>
              <p class="event__details--note">・撮影はスマートフォンのみとさせていただきます。撮影機能のみのデジタルカメラやビデオカメラ等での撮影はお断りします。</p>
              <p class="event__details--note">・小学生以上の方はお1人様につき1枚「グリーティング参加券」が必要です。</p>
              <p class="event__details--note">・未就学児童は「グリーティング参加券」をお持ちのお客様が同伴の場合に限り参加可能です。未就学児童のみでの参加は不可とさせて頂きます。</p>
              <p class="event__details--note">・撮影会はスペシャルパフォーマンス終了後に実施いたします。</p>
              <p class="event__details--note">・撮影会は参加される方の列が途切れ次第、終了となります。</p>
              <p class="event__details--note">・撮り直しには応じられませんので、ご了承下さい。<br>（万が一、機材トラブル等の場合は、撮影会の時間内にスタッフにお知らせ下さい。）</p>
              <p class="event__details--note">・車椅子をご利用の方は、スタッフにお声掛け下さい。</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">イベント会場特典</h4>
              <p class="event__details--txt">だべっ子どうぶつ、手持ちバルーン（全9種類ランダム）</p>
              <p class="event__details--note">※CDご購入枚数と同数をプレゼント！（特典は無くなり次第、終了となります。）</p>
        
              <h5 class="event__details--subttl">CDの販売について</h5>
        
              <p class="event__details--txt">CD販売開始時間：11:00～<br>
                CD即売場所：イオンモール大高　1Fグリーンコート特設ブース</p>
        
                <p class="event__details--note">＊お支払い方法は現金・クレジットカード（一括払い）のみとなります。各種電子マネー・QR コード決済・ポイントカード・駐車券サービスはご利用いただけません。</p>
                <!-- <p class="event__details--note">＊以下のクレジットカードがご利用いただけます。<br>VISA、MASTER、JCB、AMEX、Diners、JCB PREMO</p> -->
                <p class="event__details--note">・事前にお電話などでのご予約、お取り置きなどはできません。</p>
                <p class="event__details--note">・商品のキャンセル・返金は一切できません。商品不備等の場合は、確認後良品と交換させていただきます。</p>
        
        
              <h5 class="event__details--subttl">注意事項</h5>
              <p class="event__details--txt">
                安全第一にイベント運営をいたしますが、保護者様におかれましてはお子様の安全を常に確認頂きますようお願いいたします。
              </p>
        
              <p class="event__details--note">・「たべっ子キッズ」メンバーとの撮影はございません、どうぶつさんとの撮影となります。</p>
              <p class="event__details--note">・「グリーティング参加券」は当日、イベント時間内のみ有効です。</p>
              <p class="event__details--note">・「グリーティング参加券」は紛失・盗難・破損等、いかなる場合も、再発行は出来かねますのでご注意ください。</p>
              <p class="event__details--note">・「グリーティング参加券」の複製、転売は一切禁止いたします。</p>
              <p class="event__details--note">・イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預け下さい。また、イベント会場ではお荷物のお預かりはできません。手荷物の管理は自己責任にてお願いいたします。</p>
              <p class="event__details--note">・イベント会場内外で発生したトラブル・事故・盗難等には主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理をお願いいたします。</p>
              <p class="event__details--note">・イベント運営にあたり、スタッフがご来場者様の肩や腕に触れて誘導する場合がございます。</p>
              <p class="event__details--note">・当日はスタッフの誘導にご協力をいただけますよう、よろしくお願いいたします。</p>
              <p class="event__details--note">・施設内や会場での荷物置き等による場所取り行為や座り込みは禁止とさせていただきます。スタッフの指示により移動していただく場合もございます。</p>
              <p class="event__details--note">・置かれた荷物等は発見次第、即時撤去いたします。また、撤去した物、および放置されている物に関して主催者・会場・出演者は一切の責任を負いません。</p>
              <p class="event__details--note">・会場は商業施設となります為、イベントエリア内や館内にて、密集・座り込み・大声をあげるなど、他のお客様や近隣店舗、一般のお客様の迷惑となる行為はおやめ下さい。</p>
              <p class="event__details--note">・館内の階段や通路に立ち止まらないようお願いいたします。<br>その他、館内の店舗やイベントのご迷惑にならないようご注意ください。</p>
              <p class="event__details--note">・会場周辺での徹夜等の行為は、近隣住民の方の迷惑となりますのでおやめ下さい。<br>徹夜での参加とみなされた場合、イベントには参加できません。また、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場周辺、入り口等での、前日や早朝の泊まり込み、開店前の場所取り、座り込み等の行為は、固くお断りしております。開店後も同様です。</p>
              <p class="event__details--note">・イベント会場内へはアルコール類や危険物のお持ち込みはできません。また、会場内での飲酒、喫煙はご遠慮ください。</p>
              <p class="event__details--note">・無人航空機（ドローン・ラジコン機、等）の使用は禁止とさせていただきます。</p>
              <p class="event__details--note">・会場へ危険物（カッター・ナイフ・爆発物等）のお持ち込みは固くお断り致します。</p>
              <p class="event__details--note">・他のお客様へのご迷惑となる行為や危険な行為は一切禁止となります。</p>
              <p class="event__details--note">・会場および会場付近での不道徳な行為は絶対におやめ下さい。</p>
              <p class="event__details--note">・警察・会場に苦情が寄せられた場合、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場内のルールやスタッフの指示に必ず従ってください。<br>スタッフの指示に従っていただけない場合、イベントへのご参加をお断りすることがございます。</p>
              <p class="event__details--note">・ルールをお守り頂けない場合、該当の人物にはご退出頂きます。<br>また、イベントの中断、もしくは中止とさせていただく場合もございます。</p>
              <p class="event__details--note">・泥酔されているお客様はイベント参加を規制させていただく場合もございます。</p>
              <p class="event__details--note">・当日の交通費・宿泊費等はお客様負担となります。</p>
              <p class="event__details--note">・都合によりイベントの内容変更や中止となる場合がございます。予めご了承ください。</p>
              <p class="event__details--note">・対象商品の返品・返金はお断り致します。不良があった場合は良品と交換いたします。</p>
              <p class="event__details--note">・今後の状況により、新型コロナウイルス感染予防対策を行っての実施となる場合がございます。その際はホームページ等でご案内させていただきますので予めご了承ください。</p>
        
        
              <h5 class="event__details--subttl">お問い合わせ</h5>
              <p class="event__details--txt"><strong>タワーレコード大高店</strong><br>
                052-629-3771</p>
              <p class="event__details--txt"><strong>ビクターエンタテインメントお客様相談室</strong><br>
                <a href="http://www.jvcmusic.co.jp/cs/form01.html" target="_blank">【PC】
                  http://www.jvcmusic.co.jp/cs/form01.html</a>
              </p>
        
              <p class="event__details--note">※上記ホームページにアクセスし、問い合わせフォームへ必須事項（お名前・電話番号・メールアドレス）とお問い合わせ内容をご記入の上、送信ください。
              </p>
              <p class="event__details--txt">【TEL】 0570-010-115 [受付]月～金（土日祝除く）／10:00～13:00、14:00～17:00</p>
              <p class="event__details--note">※電話の場合、問い合わせ件数が多数の場合には一時的に電話がつながりにくくなる場合がございます。</p>
              <p class="event__details--note">※会場への直接のお問い合わせはお控えください。</p>
        
            </div>
        
          </div>
          <!-- event__details -->
        </li>  
        <li>
          <div class="event__date--wrapper">
            <div class="event__date">
              <span class="event__date--mon">10</span>
              <span class="event__date--day">05</span>
              <span class="event__date--week">SAT</span>
            </div>
        
            <div class="event__list--btn">
              <h3 class="event__list--type">EVENT<br><span>1部･･･13:00~</span> <span>2部･･･16:00~</span></h3>
              <div class="event__list--areain">
                <p class="event__list--area">大阪</p>
                <div>
                  <p class="event__list--basyo">リリースイベント<br>in セブンパーク天美1F　AMAMI STADIUM</p>
                  <div class="event__list--arrow">
                    <p>
                      <span class="event__list--basyospan">詳細はこちら<span class="arrow"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        
          <div class="event__details">
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">スケジュール</h4>
              <p class="event__details--txt">2024年10月5日(土) 1部･･･13:00スタート　　2部･･･16:00スタート  <br>
                <a href="https://amami.sevenpark.jp/" target="_blank">大阪府・セブンパーク天美1F　AMAMI STADIUM（大阪府松原市天美東3丁目500番地）</a></p>
              <p class="event__details--note">※登場するどうぶつさん・・・らいおんくん、うさぎさん、ねこさん</p>
              <p class="event__details--note">※登場するたべっ子キッズ（メンバー）・・・RILA、TOMA、HAYATO</p>
              <p class="event__details--note">※CD販売：11:00スタート<br>（CDご購入のお客様で、施設開店前にお越しのお客様は「Sora Park」へお並びください。）</p>
              <p class="event__details--note">※優先エリア集合：1部…12:30　2部…15:30</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">イベント内容</h4>
              <p class="event__details--txt">ゲーム大会＆スペシャルパフォーマンス、撮影会</p>
        
              <h5 class="event__details--subttl">ゲーム大会</h5>
              <p class="event__details--txt">パズルゲームアプリ「たべっ子どうぶつTime」をみんなでプレイ！</p>
              <p class="event__details--note">※アプリをダウンロードの上、会場でゲームをプレイした方の中から上位入賞の方には特典もございます！</p>
        
              <h5 class="event__details--subttl">スペシャルパフォーマンス</h5>
              <p class="event__details--txt">たべっ子キッズ＆どうぶつさんによる「ツブウド・コッベタ」スペシャルパフォーマンス</p>
              <h5 class="event__details--subttl">どうぶつさんとの撮影会</h5>
              <p class="event__details--txt">当日、イベント会場にてCDをご購入頂いた方は、先着でどうぶつさんとの写真撮影会にご参加いただけます。</p>
              <p class="event__details--note">※どのどうぶつさんと写真が撮れるかは、ランダム（くじ引き）になります。</p>
              <p class="event__details--note">※撮影は、お客様のスマートフォンのみでスタッフが撮影いたします。</p>
              <p class="event__details--note">※「たべっ子キッズ」キッズメンバーではなく、どうぶつさんとの撮影になります</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">対象商品</h4>
              <p class="event__details--txt">9月24日発売<br>
                たべっ子キッズDebut Single「ツブウド・コッベタ」（通常盤）<br>
                VICL-37749 税込 ¥1,650（税抜 ¥1,500）</p>
              <p class="event__details--note">※グッズ付き限定盤は対象外です。</p>
        
              <h5 class="event__details--subttl">イベント参加方法</h5>
              <p class="event__details--txt">当日、イベント会場にて、対象商品をご購入の方に、先着で「優先エリア券」「グリーティング参加券」（どうぶつ名付き）をお渡しします。</p>
              <p class="event__details--note">・1部、2部どちらに参加されるかをお選びください。</p>
              <p class="event__details--note">・「優先エリア券」はお1人様1枚のお渡しです。<br>（2枚以上ご購入いただいたお客様には、1部2部の「優先エリア券」を各1枚お渡しします。）</p>
              
              <p class="event__details--note">・「グリーティング参加券」はCDご購入枚数と同枚数をお渡しします。</p>
              <p class="event__details--note">・「グリーティング参加券」の（どうぶつ名）は、くじ引きでのお渡しとなります。<br>（どうぶつさんの指定はできません。）</p>
              <p class="event__details--note">・どちらも枚数に限りがあります。無くなり次第終了となります。</p>
        
        
              <h5 class="event__details--subttl">ゲーム大会＆スペシャルパフォーマンス</h5>
              <p class="event__details--txt">「優先エリア券」をお持ちの方は、優先エリアにご入場いただけます。</p>
              <p class="event__details--note">（「優先エリア券」をお持ちで無い方は、「優先エリア」外よりフリーでご観覧いただけます。）</p>
        
        
              <h5 class="event__details--subttl">撮影会</h5>
              <p class="event__details--txt">「グリーティング参加券」をお持ちの方は、参加券に記載のどうぶつさんとの撮影会にご参加いただけます。</p>
              <p class="event__details--note">・「グリーティング参加券」1枚につき、1回の撮影が可能です。<br>
                （1組2名様まで。未就学児童を含む場合は1組3名様まで）</p>
              <p class="event__details--note">・撮影はスマートフォンのみとさせていただきます。撮影機能のみのデジタルカメラやビデオカメラ等での撮影はお断りします。</p>
              <p class="event__details--note">・小学生以上の方はお1人様につき1枚「グリーティング参加券」が必要です。</p>
              <p class="event__details--note">・未就学児童は「グリーティング参加券」をお持ちのお客様が同伴の場合に限り参加可能です。未就学児童のみでの参加は不可とさせて頂きます。</p>
              <p class="event__details--note">・撮影会はスペシャルパフォーマンス終了後に実施いたします。</p>
              <p class="event__details--note">・撮影会は参加される方の列が途切れ次第、終了となります。</p>
              <p class="event__details--note">・撮り直しには応じられませんので、ご了承下さい。<br>（万が一、機材トラブル等の場合は、撮影会の時間内にスタッフにお知らせ下さい。）</p>
              <p class="event__details--note">・車椅子をご利用の方は、スタッフにお声掛け下さい。</p>
        
            </div>
            <div class="event__details--blc">
        
              <h4 class="event__details--ttl">イベント会場特典</h4>
              <p class="event__details--txt">だべっ子どうぶつ、手持ちバルーン（全9種類ランダム）</p>
              <p class="event__details--note">※CDご購入枚数と同数をプレゼント！（特典は無くなり次第、終了となります。）</p>
        
              <h5 class="event__details--subttl">CDの販売について</h5>
        
              <p class="event__details--txt">CD販売開始時間：11:00～<br>
                CD即売場所：セブンパーク天美1F　AMAMI STADIUM特設ブース</p>
        
                <p class="event__details--note">＊お支払い方法は現金・クレジットカード（一括）のみです。各種クーポン/ポイントカードはご利用いただけません。</p>
                <p class="event__details--note">＊金券等はご利用いただけません。</p>
                <p class="event__details--note">＊対象商品の返品・返金はお断りいたします。不良があった場合は良品と交換いたします。</p>
                <p class="event__details--note">＊事前にお電話などでのご予約、お取り置きなどはできません。</p>
        
        
              <h5 class="event__details--subttl">注意事項</h5>
              <p class="event__details--txt">
                安全第一にイベント運営をいたしますが、保護者様におかれましてはお子様の安全を常に確認頂きますようお願いいたします。
              </p>
        
              <p class="event__details--note">・「たべっ子キッズ」メンバーとの撮影はございません、どうぶつさんとの撮影となります。</p>
              <p class="event__details--note">・「グリーティング参加券」は当日、イベント時間内のみ有効です。</p>
              <p class="event__details--note">・「グリーティング参加券」は紛失・盗難・破損等、いかなる場合も、再発行は出来かねますのでご注意ください。</p>
              <p class="event__details--note">・「グリーティング参加券」の複製、転売は一切禁止いたします。</p>
              <p class="event__details--note">・イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預け下さい。また、イベント会場ではお荷物のお預かりはできません。手荷物の管理は自己責任にてお願いいたします。</p>
              <p class="event__details--note">・イベント会場内外で発生したトラブル・事故・盗難等には主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理をお願いいたします。</p>
              <p class="event__details--note">・イベント運営にあたり、スタッフがご来場者様の肩や腕に触れて誘導する場合がございます。</p>
              <p class="event__details--note">・当日はスタッフの誘導にご協力をいただけますよう、よろしくお願いいたします。</p>
              <p class="event__details--note">・施設内や会場での荷物置き等による場所取り行為や座り込みは禁止とさせていただきます。スタッフの指示により移動していただく場合もございます。</p>
              <p class="event__details--note">・置かれた荷物等は発見次第、即時撤去いたします。また、撤去した物、および放置されている物に関して主催者・会場・出演者は一切の責任を負いません。</p>
              <p class="event__details--note">・会場は商業施設となります為、イベントエリア内や館内にて、密集・座り込み・大声をあげるなど、他のお客様や近隣店舗、一般のお客様の迷惑となる行為はおやめ下さい。</p>
              <p class="event__details--note">・館内の階段や通路に立ち止まらないようお願いいたします。<br>その他、館内の店舗やイベントのご迷惑にならないようご注意ください。</p>
              <p class="event__details--note">・会場周辺での徹夜等の行為は、近隣住民の方の迷惑となりますのでおやめ下さい。<br>徹夜での参加とみなされた場合、イベントには参加できません。また、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場周辺、入り口等での、前日や早朝の泊まり込み、開店前の場所取り、座り込み等の行為は、固くお断りしております。開店後も同様です。</p>
              <p class="event__details--note">・イベント会場内へはアルコール類や危険物のお持ち込みはできません。また、会場内での飲酒、喫煙はご遠慮ください。</p>
              <p class="event__details--note">・無人航空機（ドローン・ラジコン機、等）の使用は禁止とさせていただきます。</p>
              <p class="event__details--note">・会場へ危険物（カッター・ナイフ・爆発物等）のお持ち込みは固くお断り致します。</p>
              <p class="event__details--note">・他のお客様へのご迷惑となる行為や危険な行為は一切禁止となります。</p>
              <p class="event__details--note">・会場および会場付近での不道徳な行為は絶対におやめ下さい。</p>
              <p class="event__details--note">・警察・会場に苦情が寄せられた場合、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場内のルールやスタッフの指示に必ず従ってください。<br>スタッフの指示に従っていただけない場合、イベントへのご参加をお断りすることがございます。</p>
              <p class="event__details--note">・ルールをお守り頂けない場合、該当の人物にはご退出頂きます。<br>また、イベントの中断、もしくは中止とさせていただく場合もございます。</p>
              <p class="event__details--note">・泥酔されているお客様はイベント参加を規制させていただく場合もございます。</p>
              <p class="event__details--note">・当日の交通費・宿泊費等はお客様負担となります。</p>
              <p class="event__details--note">・都合によりイベントの内容変更や中止となる場合がございます。予めご了承ください。</p>
              <p class="event__details--note">・対象商品の返品・返金はお断り致します。不良があった場合は良品と交換いたします。</p>
              <p class="event__details--note">・今後の状況により、新型コロナウイルス感染予防対策を行っての実施となる場合がございます。その際はホームページ等でご案内させていただきますので予めご了承ください。</p>
        
        
              <h5 class="event__details--subttl">お問い合わせ</h5>
              <p class="event__details--txt"><strong>TOWERmini セブンパーク天美店</strong><br>
                072-284-9400</p>
              <p class="event__details--txt"><strong>ビクターエンタテインメントお客様相談室</strong><br>
                <a href="http://www.jvcmusic.co.jp/cs/form01.html" target="_blank">【PC】
                  http://www.jvcmusic.co.jp/cs/form01.html</a>
              </p>
        
              <p class="event__details--note">※上記ホームページにアクセスし、問い合わせフォームへ必須事項（お名前・電話番号・メールアドレス）とお問い合わせ内容をご記入の上、送信ください。
              </p>
              <p class="event__details--txt">【TEL】 0570-010-115 [受付]月～金（土日祝除く）／10:00～13:00、14:00～17:00</p>
              <p class="event__details--note">※電話の場合、問い合わせ件数が多数の場合には一時的に電話がつながりにくくなる場合がございます。</p>
              <p class="event__details--note">※会場への直接のお問い合わせはお控えください。</p>
        
            </div>
        
          </div>
          <!-- event__details -->
        </li>  
        <li>
          <div class="event__date--wrapper">
            <div class="event__date">
              <span class="event__date--mon">9</span>
              <span class="event__date--day">23</span>
              <span class="event__date--week">MON</span>
            </div>

            <div class="event__list--btn">
              <h3 class="event__list--type">EVENT <span>14:00~</span></h3>
              <div class="event__list--areain">
                <p class="event__list--area">東京</p>
                <div>
                  <p class="event__list--basyo">リリースイベント<br>in カメイドクロック1F カメクロコート</p>
                  <div class="event__list--arrow">
                    <p>
                      <span class="event__list--basyospan">詳細はこちら<span class="arrow"></span>

                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="event__details">
            <div class="event__details--blc">

              <h4 class="event__details--ttl">スケジュール</h4>
              <p class="event__details--txt">2024年9月23日(月・祝) 14:00スタート <br>
                <a href="http://www.kameidoclock.jp/" target="_blank">東京都・カメイドクロック1F カメクロコート（東京都江東区亀戸 6 丁目 31-6）</a></p>
              <p class="event__details--note">※登場するどうぶつさん・・・らいおんくん、うさぎさん、ねこさん</p>
              <p class="event__details--note">※登場するたべっ子キッズ（メンバー）・・・KOMARI、LINO、AKKUN</p>
              <p class="event__details--note">※CD販売：12:00スタート</p>
              <p class="event__details--note">※優先エリア集合：13:30</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント内容</h4>
              <p class="event__details--txt">ゲーム大会＆スペシャルパフォーマンス、撮影会</p>

              <h5 class="event__details--subttl">ゲーム大会</h5>
              <p class="event__details--txt">パズルゲームアプリ「たべっ子どうぶつTime」をみんなでプレイ！</p>
              <p class="event__details--note">※アプリをダウンロードの上、会場でゲームをプレイした方の中から上位入賞の方には特典もございます！</p>

              <h5 class="event__details--subttl">スペシャルパフォーマンス</h5>
              <p class="event__details--txt">たべっ子キッズ＆どうぶつさんによる「ツブウド・コッベタ」スペシャルパフォーマンス</p>
              <h5 class="event__details--subttl">どうぶつさんとの撮影会</h5>
              <p class="event__details--txt">当日、イベント会場にてCDをご購入頂いた方は、先着でどうぶつさんとの写真撮影会にご参加いただけます。</p>
              <p class="event__details--note">※どのどうぶつさんと写真が撮れるかは、ランダム（くじ引き）になります。</p>
              <p class="event__details--note">※撮影は、お客様のスマートフォンのみでスタッフが撮影いたします。</p>
              <p class="event__details--note">※「たべっ子キッズ」キッズメンバーではなく、どうぶつさんとの撮影になります</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">対象商品</h4>
              <p class="event__details--txt">9月24日発売<br>
                たべっ子キッズDebut Single「ツブウド・コッベタ」（通常盤）<br>
                VICL-37749 税込 ¥1,650（税抜 ¥1,500）</p>
              <p class="event__details--note">※グッズ付き限定盤は対象外です。</p>

              <h5 class="event__details--subttl">イベント参加方法</h5>
              <p class="event__details--txt">当日、イベント会場にて、対象商品をご購入の方に、先着で「優先エリア券」「グリーティング参加券」（どうぶつ名付き）をお渡しします。</p>
              <p class="event__details--note">・「優先エリア券」はお1人様1枚のお渡しです。</p>
              <p class="event__details--note">・「グリーティング参加券」はCDご購入枚数と同枚数をお渡しします。</p>
              <p class="event__details--note">・「グリーティング参加券」の（どうぶつ名）は、くじ引きでのお渡しとなります。<br>（どうぶつさんの指定はできません。）</p>
              <p class="event__details--note">・どちらも枚数に限りがあります。無くなり次第終了となります。</p>


              <h5 class="event__details--subttl">ゲーム大会＆スペシャルパフォーマンス</h5>
              <p class="event__details--txt">「優先エリア券」をお持ちの方は、優先エリアにご入場いただけます。</p>
              <p class="event__details--note">（「優先エリア券」をお持ちで無い方は、「優先エリア」外よりフリーでご観覧いただけます。）</p>


              <h5 class="event__details--subttl">撮影会</h5>
              <p class="event__details--txt">「グリーティング参加券」をお持ちの方は、参加券に記載のどうぶつさんとの撮影会にご参加いただけます。</p>
              <p class="event__details--note">・「グリーティング参加券」1枚につき、1回の撮影が可能です。<br>
                （1組2名様まで。未就学児童を含む場合は1組3名様まで）</p>
              <p class="event__details--note">・撮影はスマートフォンのみとさせていただきます。撮影機能のみのデジタルカメラやビデオカメラ等での撮影はお断りします。</p>
              <p class="event__details--note">・小学生以上の方はお1人様につき1枚「グリーティング参加券」が必要です。</p>
              <p class="event__details--note">・未就学児童は「グリーティング参加券」をお持ちのお客様が同伴の場合に限り参加可能です。未就学児童のみでの参加は不可とさせて頂きます。</p>
              <p class="event__details--note">・撮影会はスペシャルパフォーマンス終了後に実施いたします。</p>
              <p class="event__details--note">・撮影会は参加される方の列が途切れ次第、終了となります。</p>
              <p class="event__details--note">・撮り直しには応じられませんので、ご了承下さい。<br>（万が一、機材トラブル等の場合は、撮影会の時間内にスタッフにお知らせ下さい。）</p>
              <p class="event__details--note">・車椅子をご利用の方は、スタッフにお声掛け下さい。</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント会場特典</h4>
              <p class="event__details--txt">だべっ子どうぶつ、手持ちバルーン（全9種類ランダム）</p>
              <p class="event__details--note">※CDご購入枚数と同数をプレゼント！（特典は無くなり次第、終了となります。）</p>

              <h5 class="event__details--subttl">CDの販売について</h5>

              <p class="event__details--txt">CD販売開始時間：12:00～<br>
                CD即売場所：カメイドクロック１F カメクロコート内特設ブース</p>

                <p class="event__details--note">＊お支払い方法は現金・クレジットカード・各種電子マネー・QR コード決済がご利用いただけます。各種ポイントカード・駐車券サービスの対象外となります。</p>
                <p class="event__details--note">＊以下のクレジットカードがご利用いただけます。<br>VISA、MASTER、JCB、AMEX、Diners、JCB PREMO</p>
                <p class="event__details--note">・事前にお電話などでのご予約、お取り置きなどはできません。</p>
                <p class="event__details--note">・商品のキャンセル・返金は一切できません。商品不備等の場合は、確認後良品と交換させていただきます。</p>


              <h5 class="event__details--subttl">注意事項</h5>
              <p class="event__details--txt">
                安全第一にイベント運営をいたしますが、保護者様におかれましてはお子様の安全を常に確認頂きますようお願いいたします。
              </p>

              <p class="event__details--note">・「たべっ子キッズ」メンバーとの撮影はございません、どうぶつさんとの撮影となります。</p>
              <p class="event__details--note">・「グリーティング参加券」は当日、イベント時間内のみ有効です。</p>
              <p class="event__details--note">・「グリーティング参加券」は紛失・盗難・破損等、いかなる場合も、再発行は出来かねますのでご注意ください。</p>
              <p class="event__details--note">・「グリーティング参加券」の複製、転売は一切禁止いたします。</p>
              <p class="event__details--note">・イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預け下さい。また、イベント会場ではお荷物のお預かりはできません。手荷物の管理は自己責任にてお願いいたします。</p>
              <p class="event__details--note">・イベント会場内外で発生したトラブル・事故・盗難等には主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理をお願いいたします。</p>
              <p class="event__details--note">・イベント運営にあたり、スタッフがご来場者様の肩や腕に触れて誘導する場合がございます。</p>
              <p class="event__details--note">・当日はスタッフの誘導にご協力をいただけますよう、よろしくお願いいたします。</p>
              <p class="event__details--note">・施設内や会場での荷物置き等による場所取り行為や座り込みは禁止とさせていただきます。スタッフの指示により移動していただく場合もございます。</p>
              <p class="event__details--note">・置かれた荷物等は発見次第、即時撤去いたします。また、撤去した物、および放置されている物に関して主催者・会場・出演者は一切の責任を負いません。</p>
              <p class="event__details--note">・会場は商業施設となります為、イベントエリア内や館内にて、密集・座り込み・大声をあげるなど、他のお客様や近隣店舗、一般のお客様の迷惑となる行為はおやめ下さい。</p>
              <p class="event__details--note">・館内の階段や通路に立ち止まらないようお願いいたします。<br>その他、館内の店舗やイベントのご迷惑にならないようご注意ください。</p>
              <p class="event__details--note">・会場周辺での徹夜等の行為は、近隣住民の方の迷惑となりますのでおやめ下さい。<br>徹夜での参加とみなされた場合、イベントには参加できません。また、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場周辺、入り口等での、前日や早朝の泊まり込み、開店前の場所取り、座り込み等の行為は、固くお断りしております。開店後も同様です。</p>
              <p class="event__details--note">・イベント会場内へはアルコール類や危険物のお持ち込みはできません。また、会場内での飲酒、喫煙はご遠慮ください。</p>
              <p class="event__details--note">・無人航空機（ドローン・ラジコン機、等）の使用は禁止とさせていただきます。</p>
              <p class="event__details--note">・会場へ危険物（カッター・ナイフ・爆発物等）のお持ち込みは固くお断り致します。</p>
              <p class="event__details--note">・他のお客様へのご迷惑となる行為や危険な行為は一切禁止となります。</p>
              <p class="event__details--note">・会場および会場付近での不道徳な行為は絶対におやめ下さい。</p>
              <p class="event__details--note">・警察・会場に苦情が寄せられた場合、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場内のルールやスタッフの指示に必ず従ってください。<br>スタッフの指示に従っていただけない場合、イベントへのご参加をお断りすることがございます。</p>
              <p class="event__details--note">・ルールをお守り頂けない場合、該当の人物にはご退出頂きます。<br>また、イベントの中断、もしくは中止とさせていただく場合もございます。</p>
              <p class="event__details--note">・泥酔されているお客様はイベント参加を規制させていただく場合もございます。</p>
              <p class="event__details--note">・当日の交通費・宿泊費等はお客様負担となります。</p>
              <p class="event__details--note">・都合によりイベントの内容変更や中止となる場合がございます。予めご了承ください。</p>
              <p class="event__details--note">・対象商品の返品・返金はお断り致します。不良があった場合は良品と交換いたします。</p>
              <p class="event__details--note">・今後の状況により、新型コロナウイルス感染予防対策を行っての実施となる場合がございます。その際はホームページ等でご案内させていただきますので予めご了承ください。</p>


              <h5 class="event__details--subttl">お問い合わせ</h5>
              <p class="event__details--txt"><strong>ビクターエンタテインメントお客様相談室</strong><br>
                <a href="http://www.jvcmusic.co.jp/cs/form01.html" target="_blank">【PC】
                  http://www.jvcmusic.co.jp/cs/form01.html</a>
              </p>

              <p class="event__details--note">※上記ホームページにアクセスし、問い合わせフォームへ必須事項（お名前・電話番号・メールアドレス）とお問い合わせ内容をご記入の上、送信ください。
              </p>
              <p class="event__details--txt">【TEL】 0570-010-115 [受付]月～金（土日祝除く）／10:00～13:00、14:00～17:00</p>
              <p class="event__details--note">※電話の場合、問い合わせ件数が多数の場合には一時的に電話がつながりにくくなる場合がございます。</p>

            </div>

          </div>
          <!-- event__details -->
        </li>       
        <li>
          <div class="event__date--wrapper">
            <div class="event__date">
              <span class="event__date--mon">9</span>
              <span class="event__date--day">21</span>
              <span class="event__date--week">SAT</span>
            </div>

            <div class="event__list--btn">
              <h3 class="event__list--type">EVENT <span>15:00~</span></h3>
              <div class="event__list--areain">
                <p class="event__list--area">埼玉</p>
                <div>
                  <p class="event__list--basyo">リリースイベント<br>in イオンレイクタウンmori</p>
                  <div class="event__list--arrow">
                    <p>
                      <span class="event__list--basyospan">詳細はこちら<span class="arrow"></span>

                    </p>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="event__details">
            <div class="event__details--blc">

              <h4 class="event__details--ttl">スケジュール</h4>
              <p class="event__details--txt">2024年9月21日(土) 15:00スタート <br>
                埼玉・イオンレイクタウンmori　1F　木の広場（“mori Fes. 2024”WOOD STAGE）</p>
              <p class="event__details--note">※登場するどうぶつさん・・・うさぎさん、きりんさん、ねこさん</p>
              <p class="event__details--note">※登場するたべっ子キッズ（メンバー）・・・RIIKU・KOTONE・SAYA</p>
              <p class="event__details--note">※CDご予約受付：10時スタート<br>（CDご購入のお客さまで、施設開店前にお越しのお客様は、「J1入口」へお並びください）</p>
              <p class="event__details--note">※優先エリア集合：14:30</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント内容</h4>
              <p class="event__details--txt">ゲーム大会＆スペシャルパフォーマンス、撮影会</p>

              <h5 class="event__details--subttl">ゲーム大会</h5>
              <p class="event__details--txt">パズルゲームアプリ「たべっ子どうぶつTime」をみんなでプレイ！</p>
              <p class="event__details--note">※アプリをダウンロードの上、会場でゲームをプレイした方の中から上位入賞の方には特典もございます！</p>

              <h5 class="event__details--subttl">スペシャルパフォーマンス</h5>
              <p class="event__details--txt">たべっ子キッズ＆どうぶつさんによる「ツブウド・コッベタ」スペシャルパフォーマンス</p>
              <h5 class="event__details--subttl">どうぶつさんとの撮影会</h5>
              <p class="event__details--txt">当日、イベント会場にてCDをご予約頂いた方は、先着でどうぶつさんとの写真撮影会にご参加いただけます。</p>
              <p class="event__details--note">※どのどうぶつさんと写真が撮れるかは、ランダム（くじ引き）になります。</p>
              <p class="event__details--note">※撮影は、お客様のスマートフォンのみでスタッフが撮影いたします。</p>
              <p class="event__details--note">※「たべっ子キッズ」キッズメンバーではなく、どうぶつさんとの撮影になります</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">対象商品</h4>
              <p class="event__details--txt">9月24日発売<br>
                たべっ子キッズDebut Single「ツブウド・コッベタ」（通常盤）<br>
                VICL-37749 税込 ¥1,650（税抜 ¥1,500）</p>
              <p class="event__details--note">※グッズ付き限定盤は対象外です。</p>

              <h5 class="event__details--subttl">イベント参加方法</h5>
              <p class="event__details--txt">当日、イベント会場にて、対象商品を全額前金にてご予約の方に、先着で「優先エリア券」「グリーティング参加券」（どうぶつ名付き）をお渡しします。</p>
              <p class="event__details--note">・「優先エリア券」はお1人様1枚のお渡しです。</p>
              <p class="event__details--note">・「グリーティング参加券」はCDご予約数と同枚数をお渡しします。</p>
              <p class="event__details--note">・「グリーティング参加券」の（どうぶつ名）は、くじ引きでのお渡しとなります。<br>（どうぶつさんの指定はできません。）</p>
              <p class="event__details--note">・どちらも枚数に限りがあります。無くなり次第終了となります。</p>


              <h5 class="event__details--subttl">ゲーム大会＆スペシャルパフォーマンス</h5>
              <p class="event__details--txt">「優先エリア券」をお持ちの方は、優先エリアにご入場いただけます。</p>
              <p class="event__details--note">・「優先エリア券」をお持ちで無い方は、「優先エリア」外よりフリーでご観覧いただけます。</p>


              <h5 class="event__details--subttl">撮影会</h5>
              <p class="event__details--txt">「グリーティング参加券」をお持ちの方は、参加券に記載のどうぶつさんとの撮影会にご参加いただけます。</p>
              <p class="event__details--note">・「グリーティング参加券」1枚につき、1回の撮影が可能です。<br>
                （1組2名様まで。未就学児童を含む場合は1組3名様まで）</p>
              <p class="event__details--note">・撮影はスマートフォンのみとさせていただきます。撮影機能のみのデジタルカメラやビデオカメラ等での撮影はお断りします。</p>
              <p class="event__details--note">・小学生以上の方はお１人様につき１枚「グリーティング参加券」が必要です。</p>
              <p class="event__details--note">・未就学児童は「グリーティング参加券」をお持ちのお客様が同伴の場合に限り参加可能です。未就学児童のみでの参加は不可とさせて頂きます。</p>
              <p class="event__details--note">・撮影会はスペシャルパフォーマンス終了後に実施いたします。</p>
              <p class="event__details--note">・撮影会は参加される方の列が途切れ次第、終了となります。</p>
              <p class="event__details--note">・撮り直しには応じられませんので、ご了承下さい。<br>（万が一、機材トラブル等の場合は、撮影会の時間内にスタッフにお知らせ下さい。）</p>
              <p class="event__details--note">・車椅子をご利用の方は、スタッフにお声掛け下さい。</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント会場特典</h4>
              <p class="event__details--txt">だべっ子どうぶつ手持ちバルーン（全9種類ランダム）</p>
              <p class="event__details--note">※CDご予約数と同数をプレゼント!（特典は無くなり次第、終了となります。）</p>

              <h5 class="event__details--subttl">CDの予約販売について</h5>

              <p class="event__details--txt">CD販売受付開始時間：10:00～<br>
                CD即売場所：埼玉・イオンレイクタウンmori　1F　木の広場（“mori Fes. 2024” WOOD STAGE）特設ブース</p>

                <p class="event__details--note">・ご予約の登録は、お客様のスマートフォン/ケータイ(一部機種を除く)からの対応となります。</p>
                <p class="event__details--note">・ご予約の登録には、お客様の携帯電話番号・メールアドレスが必要となります。</p>
                <p class="event__details--note">・『towerrecords.co.jp』のドメインからメールが配信されますので、予め受信ができるように、ご自身の端末の設定をご確認ください。</p>
                <p class="event__details--note">・ご予約登録の際は、イベント会場に告知されているQRコードをお客様のスマートフォン/ケータイ(一部機種を除く)から読み取ってください。表示された画面の「空メールを作成する」ボタンを押して、差出人のアドレスをご確認の上、そのまま空メールを送信してください。</p>
                <p class="event__details--note">・「予約登録のご案内」メールが届いたら、メール本文のURLを開いて予約登録画面へアクセスしてください。</p>
                <p class="event__details--note">・ご希望の予約商品をお選びいただき、数量・特典・注意事項を確認しながらご予約内容を入力して登録してください。</p>
                <p class="event__details--note">・ご予約商品は、タワーレコード イオンレイクタウン店での受け取り、もしくは配送(別途、送料900円)のいずれかをお選びいただけます。</p>
                <p class="event__details--note">・予約登録が完了すると決済用QRコードが表示されます。この時点ではご予約は完了していませんので、決済用QRコードを会場のレジ窓口へご提示ください。</p>
                <p class="event__details--note">・ご予約内容を確認後、商品に応じた特典をお渡しします。決済確定後の変更・キャンセルおよび受け取り拒否はできません。</p>
                <p class="event__details--note">・ご予約商品お支払い後、「【※破棄厳禁】決済完了/受取方法のご案内」メールが届きますので、この時点で予約受付が完了します。店頭にてお受け取りの際や配送のお問い合わせの際に必要となりますので、大切に保管してください。万が一、「【※破棄厳禁】決済完了/受取方法のご案内」メールが届いてない場合は、必ずスタッフまでお尋ねください。</p>
                <p class="event__details--note">・お支払い方法は現金・クレジットカード(一括)のみです。各種クーポン/ポイントカードはご利用いただけません。</p>
                <p class="event__details--note">・駐車サービスについては会場販売スタッフまでお問合せください</p>
                <p class="event__details--note">・スマートフォン/ケータイをお持ちでないお客様は、当日イベント会場のスタッフまでお声掛けください。</p>
                <p class="event__details--note">・配送のおまとめはできませんので、予めご了承ください。</p>
                <p class="event__details--note">・店舗での商品お受け取りは9月24日(火)以降となります。お受け取り店舗はタワーレコード イオンレイクタウン店となりますのでご注意ください。</p>
                <p class="event__details--note">・商品お受け取りの際、「【※破棄厳禁】決済完了/受取方法のご案内」メール内のご注文情報のURLを開いて、受け取り用のバーコードをご提示ください。バーコードは入荷日より表示されます。</p>
                <p class="event__details--note">・配送を希望された方は、「【※破棄厳禁】決済完了/受取方法のご案内」メールのご注文情報に記載の発送予定日より順次配送いたします。</p>
                <p class="event__details--note">・商品のお取り置き期間は発売日から4週間となり、2024年10月22日(火)までとなります。</p>
                <p class="event__details--note">・お取り置き期限終了後は、商品のお渡しはできません。その際、代金は返金致しかねますので、予めご了承ください。</p>
                <p class="event__details--note">・配送を希望された方は、「【※破棄厳禁】決済完了/受取方法のご案内」メールのご注文情報に記載の発送予定日より順次配送いたします。</p>
                <p class="event__details--note">・長期不在や住所不明、不在受取の連絡が取れない等、期間までに受け取りいただけない場合、商品のお渡しはできません。その際、代金は返金致しかねますので、予めご了承ください。</p>
                <p class="event__details--note">・お客様のご都合によるご予約後の変更/キャンセル/返品/返金は、一切受け付けできません。（商品遅延等の場合も同様です。）</p>
                <p class="event__details--note">・お客様のご都合により一定期間までに商品をお受け取り頂けず、再配達・転送等となった場合、それらに掛かる費用は、お客様自身でのご負担とさせていただきます。予めご了承ください。</p>




              <h5 class="event__details--subttl">注意事項</h5>
              <p class="event__details--txt">
                安全第一にイベント運営をいたしますが、保護者様におかれましてはお子様の安全を常に確認頂きますようお願いいたします。
              </p>

              <p class="event__details--note">・「たべっ子キッズ」メンバーとの撮影はございません、どうぶつさんとの撮影となります。</p>
              <p class="event__details--note">・「グリーティング参加券」は当日、イベント時間内のみ有効です。</p>
              <p class="event__details--note">・「グリーティング参加券」は紛失・盗難・破損等、いかなる場合も、再発行は出来かねますのでご注意ください。</p>
              <p class="event__details--note">・「グリーティング参加券」の複製、転売は一切禁止いたします。</p>
              <p class="event__details--note">・イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預け下さい。また、イベント会場ではお荷物のお預かりはできません。手荷物の管理は自己責任にてお願いいたします。</p>
              <p class="event__details--note">・イベント会場内外で発生したトラブル・事故・盗難等には主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理をお願いいたします。</p>
              <p class="event__details--note">・イベント運営にあたり、スタッフがご来場者様の肩や腕に触れて誘導する場合がございます。</p>
              <p class="event__details--note">・当日はスタッフの誘導にご協力をいただけますよう、よろしくお願いいたします。</p>
              <p class="event__details--note">・施設内や会場での荷物置き等による場所取り行為や座り込みは禁止とさせていただきます。スタッフの指示により移動していただく場合もございます。</p>
              <p class="event__details--note">・置かれた荷物等は発見次第、即時撤去いたします。また、撤去した物、および放置されている物に関して主催者・会場・出演者は一切の責任を負いません。</p>
              <p class="event__details--note">・会場は商業施設となります為、イベントエリア内や館内にて、密集・座り込み・大声をあげるなど、他のお客様や近隣店舗、一般のお客様の迷惑となる行為はおやめ下さい。</p>
              <p class="event__details--note">・館内の階段や通路に立ち止まらないようお願いいたします。<br>その他、館内の店舗やイベントのご迷惑にならないようご注意ください。</p>
              <p class="event__details--note">・会場周辺での徹夜等の行為は、近隣住民の方の迷惑となりますのでおやめ下さい。<br>徹夜での参加とみなされた場合、イベントには参加できません。また、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場周辺、入り口等での、前日や早朝の泊まり込み、開店前の場所取り、座り込み等の行為は、固くお断りしております。開店後も同様です。</p>
              <p class="event__details--note">・イベント会場内へはアルコール類や危険物のお持ち込みはできません。また、会場内での飲酒、喫煙はご遠慮ください。</p>
              <p class="event__details--note">・無人航空機（ドローン・ラジコン機、等）の使用は禁止とさせていただきます。</p>
              <p class="event__details--note">・会場へ危険物（カッター・ナイフ・爆発物等）のお持ち込みは固くお断り致します。</p>
              <p class="event__details--note">・他のお客様へのご迷惑となる行為や危険な行為は一切禁止となります。</p>
              <p class="event__details--note">・会場および会場付近での不道徳な行為は絶対におやめ下さい。</p>
              <p class="event__details--note">・警察・会場に苦情が寄せられた場合、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場内のルールやスタッフの指示に必ず従ってください。<br>スタッフの指示に従っていただけない場合、イベントへのご参加をお断りすることがございます。</p>
              <p class="event__details--note">・ルールをお守り頂けない場合、該当の人物にはご退出頂きます。<br>また、イベントの中断、もしくは中止とさせていただく場合もございます。</p>
              <p class="event__details--note">・泥酔されているお客様はイベント参加を規制させていただく場合もございます。</p>
              <p class="event__details--note">・当日の交通費・宿泊費等はお客様負担となります。</p>
              <p class="event__details--note">・都合によりイベントの内容変更や中止となる場合がございます。予めご了承ください。</p>
              <p class="event__details--note">・対象商品の返品・返金はお断り致します。不良があった場合は良品と交換いたします。</p>
              <p class="event__details--note">・今後の状況により、新型コロナウイルス感染予防対策を行っての実施となる場合がございます。その際はホームページ等でご案内させていただきますので予めご了承ください。</p>


              <h5 class="event__details--subttl">お問い合わせ</h5>
              <p class="event__details--txt"><strong>ビクターエンタテインメントお客様相談室</strong><br>
                <a href="http://www.jvcmusic.co.jp/cs/form01.html" target="_blank">【PC】
                  http://www.jvcmusic.co.jp/cs/form01.html</a>
              </p>

              <p class="event__details--note">※上記ホームページにアクセスし、問い合わせフォームへ必須事項（お名前・電話番号・メールアドレス）とお問い合わせ内容をご記入の上、送信ください。
              </p>
              <p class="event__details--txt">【TEL】 0570-010-115 [受付]月～金（土日祝除く）／10:00～13:00、14:00～17:00</p>
              <p class="event__details--note">※電話の場合、問い合わせ件数が多数の場合には一時的に電話がつながりにくくなる場合がございます。</p>

              <p class="event__details--txt"><strong>タワーレコードイオンレイクタウン店</strong><br>
                【TEL】 048-990-1191  [受付] 10:00～21:00</p>

                <p class="event__details--note">※施設・会場へのお問合せはご遠慮下さい。</p>

            </div>

          </div>
          <!-- event__details -->
        </li>
        <li>
          <div class="event__date--wrapper" style="cursor: none;">
            <div class="event__date">
              <span class="event__date--mon">9</span>
              <span class="event__date--day">07</span>
              <span class="event__date--week">SAT</span>
            </div>


            <div class="event__list--btn">
              <h3 class="event__list--type">EVENT</h3>
              <div class="event__list--areain">
                <p class="event__list--area">埼玉</p>
                <p class="event__list--basyo">『第39回 マイナビ 東京ガールズコレクション 2024 AUTUMN/WINTER<br>in さいたまスーパーアリーナ</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <div class="event__date--wrapper">
            <div class="event__date">
              <span class="event__date--mon">8</span>
              <span class="event__date--day">25</span>
              <span class="event__date--week">SUN</span>
            </div>

            <div class="">
              <h3 class="event__list--type">EVENT <span>13:00~</span></h3>
              <div class="event__list--areain">
                <p class="event__list--area">千葉</p>
                <div>
                  <p class="event__list--basyo"> リリースイベント<br>in イオンモール幕張新都心</p>
                  <div class="event__list--arrow">
                    <p>
                      <span class="event__list--basyospan">詳細はこちら<span class="arrow"></span>

                    </p>
                  </div>

                </div>

              </div>
             

            </div>

          </div>

          <div class="event__details">
            <div class="event__details--blc">

              <h4 class="event__details--ttl">スケジュール</h4>
              <p class="event__details--txt">2024年8月25日(日) 13:00スタート<br>
                at 千葉・イオンオール幕張新都心 グランドモール1F グランドスクエア</p>
              <p class="event__details--note">※登場するどうぶつさん・・・かばさん、ねこさん、さるさん</p>
              <p class="event__details--note">※登場するたべっ子キッズ（メンバー）・・・全員</p>
              <p class="event__details--note">※CDご予約受付：10時スタート</p>
              <p class="event__details--note">※優先エリア集合：12:30</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント内容</h4>
              <p class="event__details--txt">ゲーム大会＆スペシャルパフォーマンス、撮影会</p>

              <h5 class="event__details--subttl">ゲーム大会</h5>
              <p class="event__details--txt">パズルゲームアプリ「たべっ子どうぶつTime」をみんなでプレイ！</p>
              <p class="event__details--note">※アプリをダウンロードの上、会場でゲームをプレイした方の中から上位入賞の方には特典もございます！</p>

              <h5 class="event__details--subttl">スペシャルパフォーマンス</h5>
              <p class="event__details--txt">たべっ子キッズ＆どうぶつさんによる「ツブウド・コッベタ」スペシャルパフォーマンス</p>
              <h5 class="event__details--subttl">どうぶつさんとの撮影会</h5>
              <p class="event__details--txt">当日、イベント会場にてCDをご予約頂いた方は、先着でどうぶつさんとの写真撮影会にご参加いただけます。</p>
              <p class="event__details--note">※どのどうぶつさんと写真が撮れるかは、ランダム（くじ引き）になります。</p>
              <p class="event__details--note">※撮影は、お客様のスマートフォンのみでスタッフが撮影いたします。</p>
              <p class="event__details--note">※「たべっ子キッズ」キッズメンバーではなく、どうぶつさんとの撮影になります</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">対象商品</h4>
              <p class="event__details--txt">9月24日発売<br>
                たべっ子キッズDebut Single「ツブウド・コッベタ」（通常盤）<br>
                VICL-37749 税込 ¥1,650（税抜 ¥1,500）</p>
              <p class="event__details--note">※グッズ付き限定盤は対象外です。</p>

              <h5 class="event__details--subttl">イベント参加方法</h5>
              <p class="event__details--txt">当日、イベント会場にて、対象商品を全額前金にてご予約の方に、先着で「優先エリア券」「グリーティング参加券」（どうぶつ名付き）をお渡しします。</p>
              <p class="event__details--note">・「優先エリア券」はお1人様1枚のお渡しです。</p>
              <p class="event__details--note">・「グリーティング参加券」はCDご予約数と同枚数をお渡しします。</p>
              <p class="event__details--note">・「グリーティング参加券」の（どうぶつ名）は、くじ引きでのお渡しとなります。<br>（どうぶつさんの指定はできません。）</p>
              <p class="event__details--note">・どちらも枚数に限りがあります。無くなり次第終了となります。</p>


              <h5 class="event__details--subttl">ゲーム大会＆スペシャルパフォーマンス</h5>
              <p class="event__details--txt">「優先エリア券」をお持ちの方は、優先エリアにご入場いただけます。</p>
              <p class="event__details--note">・「優先エリア券」をお持ちで無い方は、「優先エリア」外よりフリーでご観覧いただけます。</p>


              <h5 class="event__details--subttl">撮影会</h5>
              <p class="event__details--txt">「グリーティング参加券」をお持ちの方は、参加券に記載のどうぶつさんとの撮影会にご参加いただけます。</p>
              <p class="event__details--note">・「グリーティング参加券」1枚につき、1回の撮影が可能です。<br>
                （1組2名様まで。未就学児童を含む場合は1組3名様まで）</p>
              <p class="event__details--note">・撮影はスマートフォンのみとさせていただきます。撮影機能のみのデジタルカメラやビデオカメラ等での撮影はお断りします。</p>
              <p class="event__details--note">・小学生以上の方はお１人様につき１枚「グリーティング参加券」が必要です。</p>
              <p class="event__details--note">・未就学児童は「グリーティング参加券」をお持ちのお客様が同伴の場合に限り参加可能です。未就学児童のみでの参加は不可とさせて頂きます。</p>
              <p class="event__details--note">・撮影会はスペシャルパフォーマンス終了後に実施いたします。</p>
              <p class="event__details--note">・撮影会は参加される方の列が途切れ次第、終了となります。</p>
              <p class="event__details--note">・撮り直しには応じられませんので、ご了承下さい。<br>（万が一、機材トラブル等の場合は、撮影会の時間内にスタッフにお知らせ下さい。）</p>
              <p class="event__details--note">・車椅子をご利用の方は、スタッフにお声掛け下さい。</p>

            </div>
            <div class="event__details--blc">

              <h4 class="event__details--ttl">イベント会場特典</h4>
              <p class="event__details--txt">だべっ子どうぶつ手持ちバルーン（全9種類ランダム）</p>
              <p class="event__details--note">※CDご予約数と同数をプレゼント!（特典は無くなり次第、終了となります。）</p>

              <h5 class="event__details--subttl">CDの予約販売について</h5>

              <p class="event__details--txt">CD販売受付開始時間：10:00～<br>
                CD即売場所：イオンモール幕張新都心 グランドモール1F グランドスクエア特設ブース</p>
              <p class="event__details--note">・対象商品のご購入は、予約となりますが全額前金にてお支払いいただきます。</p>
              <p class="event__details--note">・お支払い方法は現金・クレジットカード・各種電子マネー・QRコード決済がご利用いただけます。各種ポイントカード・駐車券サービスの対象外となります。
              </p>
              <p class="event__details--note">・以下のクレジットカードがご利用いただけます。（VISA、MASTER、JCB、AMEX、Diners）</p>
              <p class="event__details--note">・事前にお電話などでのご予約、お取り置きなどはできません。</p>
              <p class="event__details--note">・商品のキャンセル・返金は一切できません。商品不備等の場合は、確認後良品と交換させていただきます。</p>
              <p class="event__details--note">・ご予約頂いた商品は、9月24日(火)発売以降、幕張
                蔦屋書店での店頭受取り、もしくは、配送をご希望のお客様は、別途送料700円（税込）にてお承りいたします。</p>
              <p class="event__details--note">・商品のお渡しは、発売日より２週間とさせていただきます。</p>

              <h5 class="event__details--subttl">注意事項</h5>
              <p class="event__details--txt">
                安全第一にイベント運営をいたしますが、保護者様におかれましてはお子様の安全を常に確認頂きますようお願いいたします。また、屋外でのイベントの為、暑さ対策等十分にとってご参加ください。ご気分が悪くなる等ありましたら近くのスタッフに申し出てください。当日のご参加はくれぐれも無理をなさらないようにお願いいたします。
              </p>
              <p class="event__details--note">・「たべっ子キッズ」メンバーとの撮影はございません、どうぶつさんとの撮影となります。</p>
              <p class="event__details--note">・「グリーティング参加券」は当日、イベント時間内のみ有効です。</p>
              <p class="event__details--note">・「グリーティング参加券」は紛失・盗難・破損等、いかなる場合も、再発行は出来かねますのでご注意ください。</p>
              <p class="event__details--note">・「グリーティング参加券」の複製、転売は一切禁止致します。</p>
              <p class="event__details--note">
                ・イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預け下さい。また、イベント会場ではお荷物のお預かりはできません。手荷物の管理は自己責任にてお願いいたします。</p>
              <p class="event__details--note">・イベント会場内外で発生したトラブル・事故・盗難等には主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理をお願い致します。</p>
              <p class="event__details--note">・イベント運営にあたり、スタッフがご来場者様の肩や腕に触れて誘導する場合がございます。</p>
              <p class="event__details--note">・当日はスタッフの誘導にご協力をいただけますよう、よろしくお願いいたします。</p>
              <p class="event__details--note">・施設内や会場での荷物置き等による場所取り行為や座り込みは禁止とさせて頂きます。<br>スタッフの指示により移動していただく場合もございます。
              </p>
              <p class="event__details--note">・置かれた荷物等は発見次第、即時撤去いたします。<br>また、撤去した物、及び放置されている物に関して主催者・会場・出演者は一切の責任を負いません。
              </p>
              <p class="event__details--note">
                ・会場は商業施設となります為、イベントエリア内や館内にて、密集・座り込み・大声をあげるなど、他のお客様や近隣店舗、一般のお客様の迷惑となる行為はおやめ下さい。</p>
              <p class="event__details--note">・館内の階段や通路に立ち止まらないようお願い致します。<br>その他、館内の店舗やイベントのご迷惑にならないようご注意下さい。</p>
              <p class="event__details--note">
                ・会場周辺での徹夜等の行為は、近隣住民の方の迷惑となりますのでおやめ下さい。<br>徹夜での参加とみなされた場合、イベントには参加できません。また、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場周辺、入り口等での、前日や早朝の泊まり込み、開店前の場所取り、座り込み等の行為は、固くお断りしております。開店後も同様です。</p>
              <p class="event__details--note">・イベント会場内へはアルコール類や危険物のお持ち込みはできません。また、会場内での飲酒、喫煙はご遠慮ください。</p>
              <p class="event__details--note">・無人航空機（ドローン・ラジコン機、等）の使用は禁止とさせて頂きます。</p>
              <p class="event__details--note">・会場へ危険物（カッター・ナイフ・爆発物等）のお持込みは固くお断り致します。</p>
              <p class="event__details--note">・他のお客様へのご迷惑となる行為や危険な行為は一切禁止となります。</p>
              <p class="event__details--note">・会場および会場付近での不道徳な行為は絶対におやめ下さい。</p>
              <p class="event__details--note">・警察・会場に苦情が寄せられた場合、イベントを中止させていただく場合がございます。</p>
              <p class="event__details--note">・会場内のルールやスタッフの指示に必ず従ってください。<br>スタッフの指示に従って頂けない場合、イベントへのご参加をお断りすることがございます。
              </p>
              <p class="event__details--note">・ルールをお守り頂けない場合、該当の人物にはご退出頂きます。<br>また、イベントの中断、もしくは中止とさせて頂く場合もございます。</p>
              <p class="event__details--note">・泥酔されているお客様はイベント参加を規制させていただく場合もございます。</p>
              <p class="event__details--note">・当日の交通費・宿泊費等はお客様負担となります。</p>
              <p class="event__details--note">・都合によりイベントの内容変更や中止となる場合がございます。予めご了承下さい。</p>
              <p class="event__details--note">・対象商品の返品・返金はお断り致します。不良があった場合は良品と交換致します。</p>
              <p class="event__details--note">
                ・今後の状況により、新型コロナウイルス感染予防対策を行っての実施となる場合がございます。その際はホームページ等でご案内させていただきますので予めご了承ください。</p>

              <h5 class="event__details--subttl">お問い合わせ</h5>
              <p class="event__details--txt"><strong>ビクターエンタテインメントお客様相談室</strong><br>
                <a href="http://www.jvcmusic.co.jp/cs/form01.html" target="_blank">【PC】
                  http://www.jvcmusic.co.jp/cs/form01.html</a>
              </p>

              <p class="event__details--note">※上記ホームページにアクセスし、問い合わせフォームへ必須事項（お名前・電話番号・メールアドレス）とお問い合わせ内容をご記入の上、送信ください。
              </p>
              <p class="event__details--txt">【TEL】 0570-010-115 [受付]月～金（土日祝除く）／ 10:00～13:00、14:00～17:00</p>
              <p class="event__details--note">※電話の場合、問い合わせ件数が多数の場合には一時的に電話がつながりにくくなる場合がございます。</p>

            </div>

          </div>
          <!-- event__details -->
        </li>

        

      </ul>
    </div>
  </div>
</div>