
<a href="#headerFv" class="logoheader" id="logoheader">
  <h2 class="logoheader__logo">たべっ子どうぶつTime</h2>
</a>

<div class="youtube" id="youtube">
  <div class="youtube__inner">
    <div class="youtube__img">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ez7eNe78RjU?si=OFYj45sIHZkkAdCd?autoplay=1&amp;mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
  </div>
</div>

<div class="topIntro">
  <div class="topIntro__img">
    <img src="./assets/img/img_release02.jpg" alt="" width="">
  </div>
  <div class="topIntro__feature">
    <p class="topIntro__feature--ttl">
      <img src="./assets/img/ttl_logo_fixheader2.png" alt="" width="2160" height="490">
    </p>

  </div>
</div>


<div class="introrelease" id="introrelease">
  <div class="inner">
    <div class="introrelease__blc">
      <p class="introrelease__ttl">「たべっ⼦どうぶつ」から⽣まれたキッズ⾳楽ユニット「たべっ⼦キッズ」9⽉24⽇(⽕)シングル「ツブウド・コッベタ」リリース！
        パズルゲームアプリ『たべっ⼦どうぶつTime』主題歌に</p>
      <p class="introrelease__txt">この度、株式会社ギンビスの「たべっ⼦どうぶつ」において、ギンビスの企業理念「お菓⼦に夢を！」を体現し、⼈々の⼼を悦ばせ、癒し、元気づけるプロジェクトとして、歌とダンスが⼤好きな9名の⼩学⽣からなるキッズ⾳楽ユニット「たべっ⼦キッズ」が誕⽣いたしました。9⽉24⽇(⽕)にDebut Single「ツブウド・コッベタ」をリリースいたします。</p>

      <div class="introrelease__sblc">
        <p class="introrelease__sblc--txt">昨年誕⽣から45周年を迎えた「たべっ⼦どうぶつ」。「ツブウド・コッベタ」には、「たべっ⼦どうぶつ」のように世代を超えて愛していただき、学校⾏事やイベントなど様々なシーンで親しんでいただきたいという思いが込められ、秋元康⽒が総合プロデュースを⼿がけました。
          今年3⽉より配信され60万ダウンロードを突破した（※）「たべっ⼦どうぶつ」初の公式パズルゲームアプリ『たべっ⼦どうぶつTime』のオリジナル主題歌に決定しており、『たべっ⼦どうぶつTime』ではゲームとともに「ツブウド・コッベタ」の⼼地よいメロディをお楽しみいただけます。
          <br>※2024年7月28日時点</p>

          <div class="introrelease__sblc--neko">
            <img src="./assets/img/img_neko-intro.png" alt="ねこ" width="167" height="193">
          </div>
      </div>

    </div>
  </div>
</div>
