<main class="main">
    <div class="main__feature">
        <p class="main__feature--ttl fade">たべっ子どうぶつたちがパズルゲームになって登場！</p>
    </div>
    <div class="main__intro">
        <div class="main__intro--inner">
            <picture class="main__intro--bnr1 fade">
                <source srcset="./assets/img/intro01_0321.webp">
                <img src="./assets/img/intro01_0321.png" alt="パズルはなぞって繋げるだけの簡単操作！" width="1640" height="1476">
            </picture>
            <p class="main__intro--notice minus">※画像は開発中のものです</p>
            <picture class="main__intro--bnr2 fade">
                <source srcset="./assets/img/intro02_0321.webp">
                <img src="./assets/img/intro02_0321.png" alt="どうぶつたちのパズル玉をたくさん繋げてたくさん消そう！" width="1600" height="1034">
            </picture>
            <p class="main__intro--notice">※画像は開発中のものです</p>
            <picture class="main__intro--bnr3 fade">
                <source srcset="./assets/img/intro03_0318.webp">
                <img src="./assets/img/intro03_0318.png" alt="どうぶつたちの素敵なハウスを作ってあげよう！" width="1600" height="926">
            </picture>
            <p class="main__intro--notice mt10">※画像は開発中のものです</p>
            <div class="main__intro--camp">

                <div class="main__intro--camp-app fade">
                    <a href="https://itunes.apple.com/jp/app/id6476189804" target="_blank" rel="noopener noreferrer"
                        class="main__intro--camp-app01"></a>
                    <a href="https://play.google.com/store/apps/details?id=jp.co.dynt.tabekkotime" target="_blank"
                        rel="noopener noreferrer" class="main__intro--camp-app02"></a>
                </div>
                <div class="main__intro--camp-box fade">
                    <a href="https://twitter.com/tabekko_time/" target="_blank" rel="noopener noreferrer"
                        class="main__intro--x">たべっ子どうぶつTime X</a>
                    <a href="https://www.instagram.com/tabekko_time/" target="_blank" rel="noopener noreferrer"
                        class="main__intro--insta">たべっ子どうぶつTime Instagram</a>
                    <a href="https://lin.ee/3lnXiUE" target="_blank" rel="noopener noreferrer"
                        class="main__intro--line">たべっ子どうぶつTime LINE</a>
                </div>
                <p class="main__intro--lion">
                    らいおんくん
                </p>
                <p class="main__intro--hipo">
                    かばさん
                </p>
            </div>

        </div>
    </div>




</main>
