<div class="member" id="member">
  <div class="inner">
      <h2 class="member__ttl">メンバー紹介</h2>
      <ul class="member__blc">  
        <li>
          <img src="./assets/img/member01.jpg" alt="AKKUN（あっくん）" width="500" height="750">
          <p class="member__name">AKKUN（あっくん）</p>
          <p class="member__intro">⼩学2年⽣ 7歳<br>
            趣味・特技：ドッジボール<br>
            好きな⾷べ物：カレー</p>
        </li>
        <li>
          <img src="./assets/img/member02.jpg" alt="KOMARI（こまり）" width="500" height="750">
          <p class="member__name">KOMARI（こまり）</p>
          <p class="member__intro">小学6年生 11歳<br>趣味・特技：漫画、アニメ、ゲーム<br>好きな食べ物：クリームシチュー
          </p>
        </li>
        <li>
          <img src="./assets/img/member03.jpg" alt="LINO（りの）" width="500" height="750">
          <p class="member__name">LINO（りの）</p>
          <p class="member__intro">小学4年生 9歳<br>
            趣味・特技：アクロバット<br>好きな食べ物：オムライス(とろとろ系)</p>
        </li>
        <li>
          <img src="./assets/img/member04.jpg" alt="HAYATO（はやと）" width="500" height="750">
          <p class="member__name">HAYATO（はやと）</p>
          <p class="member__intro">小学4年生 9歳<br>趣味・特技：サッカー<br>好きな食べ物：グミ</p>
        </li>
        <li>
          <img src="./assets/img/member05.jpg" alt="SAYA（さや）" width="500" height="750">
          <p class="member__name">SAYA（さや）</p>
          <p class="member__intro">小学1年生 6歳<br>趣味・特技：お絵描き<br>好きな食べ物：ハンバーグ</p>
        </li>
        <li>
          <img src="./assets/img/member06.jpg" alt="RILA（りら）" width="500" height="750">
          <p class="member__name">RILA（りら）</p>
          <p class="member__intro">小学5年生 11歳<br>趣味・特技：口笛、動物研究<br>好きな食べ物：お肉</p>
        </li>
        <li>
          <img src="./assets/img/member07.jpg" alt="TOMA（とうま）" width="500" height="750">
          <p class="member__name">TOMA（とうま）</p>
          <p class="member__intro">小学2年生 7歳<br>趣味・特技：公園で虫取り<br>好きな食べ物：お寿司(マグロユッケ)</p>
        </li>
        <li>
          <img src="./assets/img/member08.jpg" alt="KOTONE（ことね）" width="500" height="750">
          <p class="member__name">KOTONE（ことね）</p>
          <p class="member__intro">小学3年生 8歳<br>趣味・特技：メイク研究<br>好きな食べ物：きゅうり</p>
        </li>
        <li>
          <img src="./assets/img/member09.jpg" alt="RIIKU（りいく）" width="500" height="750">
          <p class="member__name">RIIKU（りいく）</p>
          <p class="member__intro">小学5年生 11歳<br>趣味・特技：ドラマ鑑賞<br>好きな食べ物：お寿司(サーモン)
          </p>
        </li>

      </ul>

      <div class="member__sns">
          <p class="member__sns--ttl"><span>SNS</span></p>
          <ul class="member__sns--blc">
            <li>
              <a href="https://www.tiktok.com/@tabekkokids_official/" class="member__sns--tiktok" target="_blank"></a>
            </li>
            <li>
              <a href="https://x.com/tabekkokids" class="member__sns--x" target="_blank"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/tabekkokids_official/" class="member__sns--insta" target="_blank"></a>
            </li>
            <li>
              <a href="https://www.youtube.com/@tabekkokids_official" class="member__sns--youtube" target="_blank"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=61563556801505" class="member__sns--fb" target="_blank"></a>
            </li>
          </ul>

          <div class="member__sns--kaba">
            <img src="./assets/img/img_kaba.png" alt="かばさん" width="187" height="252">
          </div>
          <div class="member__sns--saru">
            <img src="./assets/img/img_saru.png" alt="さるさん" width="165" height="231">
          </div>
      </div>
  </div>
</div>