<section class="newsblc">
  <div class="newsblc__content">

    <div class="newsblc__top">
      <div class="newsblc__btm">
        <div class="newsblc__inner">

          <div class="newsblc__txtblc">
            <p class="u-text__date">2025.4.25</p>
            <div class="newsblc__txtblc--feature">
              <span class="u-text__feature red">重要</span>
            </div>
          </div>
          <div class="newsblc__txtblc">
            <p class="u-text__txt">いつも『たべっ子どうぶつTime』をご利用いただきありがとうございます。<br>
              『たべっ子どうぶつTime』運営チームです。<br><br>
              3月26日に公開のお知らせ「【重要】オンライン版のサービス終了と、メモリアルアプリのご案内」内にて発表したメモリアルアプリの詳細をお届けします！</p>
          </div>
          <section class="newsblc__pinkline">


            <div class="newsblc__subttl">
              <h2 class="u-text__ttl red">メモリアルアプリについて</h2>
            </div>

            <div class="newsblc__txt">
              <p class="u-text__txt brown">メモリアルアプリの名称が『たべっ子どうぶつTime メモリアル』に決定しました！<br>
                『たべっ子どうぶつTime メモリアル』はすべて無料で遊ぶことができます。<br>
                配信開始は2025年6月2日（月）を予定しております。</p>

            </div>
            <p class="u-text__note plusindent brown">※新たにアプリをダウンロードいただく必要があります</p>

            <div class="newsblc__img">
              <div class="newsblc__imginner">
                <img src="./assets/img/off_title_Re.png" alt="">
              </div>
              <p class="u-text__note plusindent brown right">※画像は開発中のものとなります。</p>
            </div>
            <div class="newsblc__subttl">
              <h2 class="u-text__ttl red">メモリアルアプリでできること</h2>
            </div>
            <div class="newsblc__txt">
              <p class="u-text__txt brown">『たべっ子どうぶつTime メモリアル』では、『たべっ子どうぶつTime』に登場したすべてのどうぶつをパズルで自由に使うことができます。</p>
            </div>
            <p class="u-text__note plusindent brown">※どうぶつのレベル、スキルレベル、リーダースキルは最大で固定になります。</p>
            <div class="newsblc__txt02">
              <p class="u-text__txt brown">また、パズルのプレイにビスケットが不要になり、いつでも好きなだけ遊ぶことができます。<br>
                プレイヤーレベルがMaxで固定になり、パズルアイテムも自由に使用できるため、ぜひ好きなどうぶつでハイスコアにチャレンジしてみてください！</p>
            </div>
            <div class="newsblc__img">
              <div class="newsblc__imginner">
                <img src="./assets/img/off_list_Re.png" alt="">
              </div>
              <p class="u-text__note plusindent brown right">※画像は開発中のものとなります。</p>
            </div>
            <div class="newsblc__subttl">
              <h2 class="u-text__ttl red">メモリアルアプリでできないこと</h2>
            </div>
            <div class="newsblc__txt">
              <p class="u-text__txt brown">
                『たべっ子どうぶつTime メモリアル』では、下記の機能を使用することができません。<br>
                残り短い期間となりますが、『たべっ子どうぶつTime』でお楽しみください。
              </p>
            </div>
            <div class="newsblc__img">
              <div class="newsblc__imginner">
                <p class="u-text__txt brown">・ガチャ</p>
                <p class="u-text__note plusindent brown">※初めからすべてのどうぶつを入手済みになります。</p>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・ハウスの模様替え</p>
                  <p class="u-text__note plusindent brown">※初めから設置されている家具は固定となり、家具の獲得や変更はできません。</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・イベント</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・ミッション</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・どうぶつの強化 </p>
                  <p class="u-text__note plusindent brown">※初めからどうぶつのレベルがすべて最大で固定になります。</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・ショップ、交換所</p>
                  <p class="u-text__note plusindent brown">※パズルアイテムはパズル準備画面で自由に使用できます。</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・おみやげ</p>
                  <p class="u-text__note plusindent brown">※パズルのプレイにビスケットが不要になります。</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・プレゼント</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・フレンド</p>
                </div>
                <div class="newsblc__txt02">
                  <p class="u-text__txt brown">・データの引き継ぎ</p>
                  <p class="u-text__note plusindent brown">※『たべっ子どうぶつTime』から『たべっ子どうぶつTime メモリアル』、『たべっ子どうぶつTime メモリアル』同士ともにデータの引き継ぎ機能はございません。</p>
                </div>
              </div>
 
            </div>
            <div class="newsblc__subttl">
              <h2 class="u-text__ttl brown">注意事項 </h2>
            </div>
            <div class="newsblc__txt">
              <p class="u-text__txt brown">
                ・本詳細の内容や日時は、予告なく変更を行う場合がございます。
              </p>
              <p class="u-text__txt brown indent">
                ・『たべっ子どうぶつTime メモリアル』は、永続的な配信やサポートをお約束するものではございません。<Br>
                  配信期間や動作環境には制限がございますのであらかじめご了承ください。
              </p>
            </div>

            
          </section>

          <div class="newsblc__txtblc">
            <p class="u-text__txt">2025年5月29日（木）のオンライン版サービス終了後も、『たべっ子どうぶつTime メモリアル』で引き続きどうぶつたちとのパズルをお楽しみいただけますと幸いです。
            </p>
          </div>
          <p class="u-text__txt">2025年4月25日(金)<br>
            『たべっ子どうぶつTime』運営チーム一同</p>

        </div>
      </div>
    </div>

  </div>
</section>