<div class="cmain__inner presentblc">
    <h2 class="present__ttl">1,000名様にあたるプレゼントキャンペーン</h2>


    <div class="cmain__blc">
        <ul class="present__shohin">
            <li>
                <picture>
                    <source srcset="../assets/img/camp/img_present01mod.webp" type="image/webp">
                    <img src="../assets/img/camp/img_present01mod.png" alt="A賞" width="1808" height="460">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="../assets/img/camp/img_present02.webp" type="image/webp">
                    <img src="../assets/img/camp/img_present02.png" alt="B賞" width="1808" height="888">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="../assets/img/camp/img_present03mod.webp" type="image/webp">
                    <img src="../assets/img/camp/img_present03mod.png" alt="C賞" width="1808" height="498">
                </picture>
            </li>
        </ul>

    </div>





    <div class="cmain__blc">
        <p class="cmain__subttl">応募方法</p>
        <p class="cmain__txt">「たべっ子どうぶつ」の『たべっ子どうぶつTime』コラボフレーバー「夢みるミルク味」のパッケージについているシールのQRコードを読み込むことで、キャンペーンにご応募いただけます。
        </p>
        <ul class="cmain__steps">
            <li><img src="../assets/img/camp/step01a.png" alt="STEP01" width="432" height="610"></li>
            <li><img src="../assets/img/camp/step02a.png" alt="STEP02" width="432" height="610"></li>
            <li><img src="../assets/img/camp/step03p.png" alt="STEP03" width="432" height="610"></li>
            <li><img src="../assets/img/camp/step04p.png" alt="STEP04" width="432" height="610"></li>
        </ul>


        <p class="cmain__note">※当選者の発表は賞品の発送をもって代えさせていただきます</p>
        <p class="cmain__note">※ご応募やお問合せ時にかかる通信量等は、お客様のご負担となります。</p>
        <p class="cmain__note">※応募受付状況、当選結果および商品発送に関するお問合せにはお答えできません。</p>
        <p class="cmain__note">※キャンペーンシールやシリアルナンバーの売買はご遠慮ください。</p>
        <p class="cmain__note">※プレゼント内容は予告なしに変更になる可能性がございます。</p>
        <p class="cmain__note">※当選者へは8月頃にプレゼントを発送いたします。（都合により発送が前後する場合がございます。あらかじめご了承ください。）</p>
        <p class="cmain__note">※『QRコード』は株式会社デンソーウェーブの登録商標です。</p>


    </div>


</div>

<div class="cmain__btcblc">
    <div class="cmain__btcblc--in">
        <a href="https://tabekkotime-presentcp.cp-apply.com" target="_blank" rel="noopener noreferrer">
            <img src="../assets/img/camp/btn_present02.png" alt="応募フォーム" width="1360" height="270">
        </a>
    </div>

</div>


<div class="cmain__inner">
    <div class="cmain__faq">
        <p class="cmain__faqsubttl">たべっ子どうぶつ「夢みるミルク味」×<br>たべっ子どうぶつTimeプレゼントキャンペーン</p>
        <p class="cmain__faqttl">よくある質問</p>

        <div class="cmain__sblc">
            <p class="cmain__txt--c">プレゼントに関するお問い合わせは<a href="mailto:campaign_present@tabekkotime.jp">こちら</a>から</p>
            <p class="cmain__note--c">受付時間10:00〜19:00（土日祝日を除く）<br>
                お問合せ期間 2024年4月15日（月）〜6月30日（日）まで</p>
        </div>

      
        <!-- よくある質問 --------------------- -->
        <div class="faq">
            <div class="faq__blc">
                <div class="faq__blc--q">
                    <div class="faq__blc--small">
                        <p class="faq__blc--txt">  何回まで応募できますか？ </p>
                    </div>
                    <p class="faq__blc--arrow"><span></span></p>
                </div>
                <div class="faq__blc--a">
                    <div class="faq__blc--a-inner">
                        <p class="faq__blc--txt2">キャンペーン期間中は、お一人様につき何度でもご応募が可能です。ただし、１商品ご購入につき１口のご応募となります。また、当選賞品はお一人様につき１点のみとなります。
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq__blc">
                <div class="faq__blc--q">
                    <div class="faq__blc--small">
                        <p class="faq__blc--txt">賞品を選べますか？</p>
                    </div>
                    <p class="faq__blc--arrow"><span></span></p>
                </div>
                <div class="faq__blc--a">
                    <div class="faq__blc--a-inner">
                        <p class="faq__blc--txt2">お選びいただけません。当選賞品はランダムとなります。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- よくある質問 --------------------- -->

        <div class="cmain__sblc">

            <p class="cmain__note">※ドメイン指定受信設定（受信拒否設定）がされている場合は、弊社ドメイン『@tabekkotime.jp』を受信リストに追加していただけますようお願い申し上げます。</p>
            <p class="cmain__note">※ドメイン受信拒否設定の解除をされていない場合、返信メールが届かない場合がございます。</p>
                <p class="cmain__note">※返信にはお時間をいただく場合がございます。予めご了承ください。</p>
        </div>

    </div>

</div>