@use "./module/variable"as var;

.header{
    &__fv{
        @include var.bg();
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 100%;
        height: 100dvh;
    }

    &__comsoon{
        @include var.bg();
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../img/commingsoon.png');
        width: 41.9vw;
        height: 10vw;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
    }
    //タブレット対応 --------------------- /////////////////--------------------------------
    @media screen and (max-width: var.$tabw) {
        &__fv{
            @include var.bg();
            background-size: cover;
            background-position: center center;
            height: 100vh;
            width: 100%;
            height: 100dvh;
        }
    }
    @media screen and (max-width: var.$spbp) {
        &__fv{
            @include var.bg();
            background-size: cover;
            background-position: top center;
            height: 100vh;
            width: 100%;
            height: 100dvh;
        }
        &__comsoon{
display: none;

        }
    }
}
.webp{
    .header__fv{
        background-image: url('../img/fv_pc-mod4.webp');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big.webp');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb.webp');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp.webp');

        }
    }
}
.no-webp{
    .header__fv{
        background-image: url('../img/fv_pc-mod4.jpg');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big.jpg');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb.jpg');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp.jpg') no-repeat;
            
        }
    }
}
//0311-----------
.webp{
    .header__fv{
        background-image: url('../img/fv_pc-0311.webp');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0311.webp');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0311.webp');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0311.webp');

        }
        &.img0318{
            background-image: url('../img/fv_pc-0318.webp');
            @media screen and (max-width: var.$tabw) {
                background-image: url('../img/bg_fv-tb-big0318.webp');
    
            }
            @media screen and (max-width: 800px) {
                background-image: url('../img/bg_fv-tb0318.webp');
    
            }
            @media screen and (max-width: var.$spbp) {
                background-image: url('../img/fv_sp0318.webp');
    
            }
        }
    }
}
.no-webp{
    .header__fv{
        background-image: url('../img/fv_pc-0311.jpg');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0311.jpg');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0311.jpg');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0311.jpg') no-repeat;
            
        }
        &.img0318{
            background-image: url('../img/fv_pc-0318.jpg');
            @media screen and (max-width: var.$tabw) {
                background-image: url('../img/bg_fv-tb-big0318.jpg');
    
            }
            @media screen and (max-width: 800px) {
                background-image: url('../img/bg_fv-tb0318.jpg');
    
            }
            @media screen and (max-width: var.$spbp) {
                background-image: url('../img/fv_sp0318.jpg') no-repeat;
                
            }
        }
    }
}

//0321 ----------------------------------------
.webp{
    .header__fv{
        background-image: url('../img/fv_pc-0321mod.webp');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0321.webp');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0321.webp');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0321.webp');

        }

    }
}
.no-webp{
    .header__fv{
        background-image: url('../img/fv_pc-0321mod.jpg');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0321.jpg');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0321.jpg');
 
        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0321.jpg') no-repeat;
            
        }

    }
}
//0326 ----------------------------------------
.webp{
    .header__fv{
        background-image: url('../img/fv_pc-0326.webp');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0326.webp');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0326.webp');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0326.webp');

        }

    }
}
.no-webp{
    .header__fv{
        background-image: url('../img/fv_pc-0326.jpg');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/bg_fv-tb-big0326.jpg');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/bg_fv-tb0326.jpg');
 
        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0326.jpg') no-repeat;
            
        }

    }
}


//0802 ----------------------------------------
.webp{
    .header__fv{
        background-image: url('../img/fvpc_240802.webp');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/fv_tb240802_big.webp');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/fv_tb240802.webp');

        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0802.webp');

        }

    }
}
.no-webp{
    .header__fv{
        background-image: url('../img/fvpc_240802.jpg');
        @media screen and (max-width: var.$tabw) {
            background-image: url('../img/fv_tb240802_big.jpg');

        }
        @media screen and (max-width: 800px) {
            background-image: url('../img/fv_tb240802.jpg');
 
        }
        @media screen and (max-width: var.$spbp) {
            background-image: url('../img/fv_sp0802.jpg') no-repeat;
            
        }

    }
}
