@use "./module/variable"as var;

.jacket {
  background-color: #FFE86C;
  width: 100%;
  padding: 120px 0;

  &__ttl {
    @include var.bg();
    background-image: url('../img/ttl_jacket.png');
    width: 540px;
    height: 63px;
    position: absolute;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__blc {
    padding: 60px;
    background-color:#FFF;
    border: solid 4px var.$pink;
    border-radius: 10px;
    position: relative;

  }
  &__img{
    padding: 0 90px;
    margin: 0 auto 50px;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__txt{
    @include var.fz(16);
    color: var.$gray;
    line-height: 1.6;
    span{
      color: var.$pink;
      font-weight: bold;
    }
  }
  &__txt02{
    @include var.fz(16);
    color: var.$gray;
    line-height: 1.6;
    margin-top: 20px;

  }
  &__link{
    border: solid 2px var.$pink;
    border-radius: 30px;
    color: var.$pink;
    text-align: center;
    display: block;
    padding: 6px 0;
    margin-top: 20px;
  }

  &__note{
    @include var.fz(12);
    line-height: 1.4;
    text-indent: -1em;
    padding-left: 1em;
    margin-top: 5px;
  }
  &__origin{
    margin: 0 auto 45px;
    &--ttl{
      @include var.fz(24);
      text-align: center;
      color: var.$gray;
      background-color:#FFE86C;
      border-radius: 20px;
      margin: 0 auto 28px;
      padding: 10px 0;
    }
    &--blc{
      display: flex;

    }
    &--img{
      min-width: 225px;
      margin-right: 20px;
      img{
        width: 100%;
        height: auto;
        border: solid 1px #cccccc;

      }
    }
    &--txtblc{

    }
  }
  &__special{
    margin: 0 auto;
    &--ttl{
      @include var.fz(24);
      text-align: center;
      color: var.$pink;
      background-color:#F6DEF0;
      border-radius: 40px;
      margin: 0 auto 28px;
      padding: 10px 0;
      span{
        font-size: 0.6em;
      }
    }
    &--blc{
      display: flex;

    }
    &--img{
      min-width: 310px;
      margin-right: 20px;
      img{
        width: 100%;
        height: auto;
      }
    }
    &--txtblc{

    }
  }
  &__wani{
    position: absolute;
    width: 136px;
    right: 20px;
    bottom: -30px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .inner {
    max-width: 800px;
    margin: 0 auto;
  }

}


@media screen and (max-width: 1025px) {

  .jacket {
    background-color: #FFE86C;
    width: 100%;
    padding: 120px 0;
  
    &__ttl {
      @include var.bg();
      width: 80vw;
      height: 9vw;
      position: absolute;
      top: -4.5vw;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &__blc {
      padding: 10vw 5vw; 
      background-color:#FFF;
      border: solid 4px var.$pink;
      border-radius: 10px;
      position: relative;
  
    }
    &__img{
      padding: 0;
      margin: 0 auto 10vw;
      img{
        width: 100%;
        height: auto;
      }
    }
    &__txt{
      @include var.fz(16);
      color: var.$gray;
      line-height: 1.6;
      span{
        color: var.$pink;
        font-weight: bold;
      }
    }
    &__txt02{
      @include var.fz(16);
      color: var.$gray;
      line-height: 1.6;
      margin-top: 20px;
  
    }
    &__link{
      border: solid 2px var.$pink;
      border-radius: 30px;
      color: var.$pink;
      text-align: center;
      display: block;
      padding: 6px 0;
      margin-top: 20px;
    }
  
    &__note{
      @include var.fz(12);
      line-height: 1.4;
      text-indent: -1em;
      padding-left: 1em;
      margin-top: 5px;
    }
    &__origin{
      margin: 0 auto 10vw;
      &--ttl{
        @include var.fz(18);
        text-align: center;
        color: var.$gray;
        background-color:#FFE86C;
        border-radius: 20px;
        margin: 0 auto 28px;
        padding: 10px 0;
      }
      &--blc{
        display: block;
  
      }
      &--img{
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 5vw;

      }
      &--txtblc{
  
      }
    }
    &__special{
      margin: 0 auto;
      &--ttl{
        @include var.fz(18);
        border-radius: 40px;
        margin: 0 auto 10vw;
        padding: 10px 0;
        span{
          font-size: 0.6em;
        }
      }
      &--blc{
        display: block;
  
      }
      &--img{
        min-width: 100%;
        margin-right: 0;

      }
      &--txtblc{
  
      }
    }
  
    .inner {
      width: 100%;
      padding: 0 5vw;
      max-width: 100%;
      margin: 0 auto;
    }
  
  }
  
}

