@use "./module/variable"as var;
.notice{
    color: var.$white;
    @include var.fz(14);
    line-height: 1.5;
    @media screen and (max-width: var.$spbp) {
        @include var.fz(12);

    }
}

.main{
    img{
        width: 100%;
        height: auto;
    }
    .top{
        background-image: url('../img/bg_top-mod.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 0;
        padding-top: 64px;
        width: var.$maxW;
        margin: 0 auto;
        box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
        position: relative;
    }
    .btm{
        background-image: url('../img/bg_btm-mod.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: right 0 bottom 0;
        padding-bottom: 64px;
    }
    .inner{
        background-image: url('../img/bg_mdl-mod.png');
        background-repeat: repeat-y;
        background-size: 100% auto;
        background-position: 0 0;
        padding: 0 64px;
    }
    &__feature{
        background-image: url('../img/bg_obi.jpg');
        background-size: cover;
        &--ttl{
            height: 140px;
            width: 750px;
            margin: 0 auto;
            @include var.bg();
            background-image: url('../img/ttl_top.png');

        }
    }
    &__intro{
        padding-bottom: 108px;
        background-image: url('../img/bg_wood01b.jpg');
        width: 100%;
        background-size: cover;
        &--inner{
            width: 800px;
            margin: 0 auto;
        }
        &--camp{
            //mod
            background-image: url('../img/bg_camp-mod-pc.png');
            margin: 60px 0 0;
            background-size: 100% auto;
            position: relative;
            background-repeat: no-repeat;
            &-box{
                display: flex;
                justify-content: space-between;
                width: 667px;
                padding: 230px 0 182px;
                margin: 0 auto;
            }
        }
        &--lion{
            @include var.bg();
            background-image: url('../img/img_lion.png');
            width: 156px;
            height: 187px;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: -92px;
        }
        &--hipo{
            @include var.bg();
            background-image: url('../img/img_hipo.png');
            width: 128px;
            height: 172px;
            background-size: cover;
            position: absolute;
            bottom:0;
            right: -50px;
        }
        &--x{
            @include var.bg();
            background-image: url('../img/btn_x.png');
            width: 297px;
            height: 97px;
            background-size: cover;
        }
        &--insta{
            @include var.bg();
            background-image: url('../img/btn_insta.png');
            width: 357px;
            height: 97px;
            background-size: cover;
        }
        &--bnr1{
            padding-top: 20px;
            display: block;
            margin: 0 -100px;
        }
        &--bnr2{
            padding-top: 50px;
            display: block;
        }
        &--bnr3{
            padding-top: 20px;
            display: block;
        }
        &--notice{
            @extend .notice;
            text-align: right;
            &.minus{
                margin-top: -30px;
            }
        }
    }
    &__box{
        width: 720px;
        margin: 10px auto 0;
    }
    &__campagin{
        background: url('../img/bg_wood02.jpg') no-repeat;
        width: 100%;
        padding: 108px 0;

        .inner{
            padding: 0 55px;
        }
        &--bnr{
            padding-top: 300px;

        }
        &--bnr5{
            display: block;
        }
        &--bnr10{
            margin: 0 -17px 20px 0;
            display: block;
            img{
                width: 100%;
                height: auto;
            }
        }
        &--ttl{
            position: relative;
            picture{
                position: absolute;
                top: -20px;
            }
        }
        &--txt{
            @extend .notice;
            text-indent: -1em;
            padding-left: 1em;
            color: #000;
            text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
            0px 1px 0 #FFF,  0-1px 0 #FFF,
            -1px 0 0 #FFF, 1px 0 0 #FFF;
        }
    }
    &__comb{
        background-image: url('../img/bg_wood01b.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 108px 0;
        &--txt{
            @extend .notice;
            color: var.$basic;
            text-indent: -1em;
            padding-left: 1em;
        }
        &--intro{
            padding-top: 10px;
            margin-bottom: 5px;
        }
        &--coming{
            margin-right: -33px;
            
        }
        &--zou{
            position: absolute;
            width: 176px;
            left: -64px;
            bottom: -20px;
        }
        &--neko{
            position: absolute;
            width: 186px;
            right: -56px;
            bottom: -20px;
        }
    }
    &__news{
        background: url('../img/bg_wood02.jpg') no-repeat;
        width: 100%;
        padding: 108px 0;
        &--top{
            background-image: url('../img/news_top.jpg');
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 0 0;
            padding-top: 228px;
            width: var.$maxW;
            margin: 0 auto;
            box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
        
        }
        &--x{
            max-height: 800px;
            overflow: hidden;
        }
        &--btn{
            @include var.bg();
            background-image: url('../img/btn_followx.png');
            width: 100%;
            height: 101px;
            margin-top: 20px;
        }
    }
    //タブレット対応 --------------------- /////////////////--------------------------------
    @media screen and (max-width: var.$tabw) {
        .top{
            padding-top: 7vw;
            width: 100%;
            margin: 0 auto;
            box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
            position: relative;
        }
        .btm{
            padding-bottom: 7vw;
        }
        .inner{
            padding: 0 6.8vw;
        }
        &__feature{
            &--ttl{
                height: 18.6vw;
                width: 100%;
                margin: 0 auto;
                @include var.bg();
                background-image: url('../img/ttl_top.png');
    
            }
        }
        &__intro{
            padding: 5vw 0 15vw;

            &--inner{
                width: 100%;
                padding: 0 5vw;
                margin: 0 auto;
            }
            &--camp{
                margin: 5vw 0 0;
                background-size: 100% auto;
                position: relative;
                background-repeat: no-repeat;
                width: 100%;
                padding: 0 5vw;
                &-box{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 32% 2.6% 21vw;
                    margin: 0 auto;
                }
            }
            &--lion{
                @include var.bg();
                background-image: url('../img/img_lion.png');
                width: 17.8vw;
                height: 21.3vw;
                background-size: cover;
                position: absolute;
                bottom: 0;
                left: -5vw;
            }
            &--hipo{
                @include var.bg();
                background-image: url('../img/img_hipo.png');
    
                width: 14.5vw;
                height: 19.5vw;
                background-size: cover;
                position: absolute;
                bottom:0;
                right: -5vw;
            }
            &--x{
                @include var.bg();
                background-image: url('../img/btn_x.png');
                width: 33.4vw;
                height: 11vw;
                background-size: cover;
            }
            &--insta{
                @include var.bg();
                background-image: url('../img/btn_insta.png');
                width: 40.3vw;
                height: 11vw;
                background-size: cover;
            }
            &--bnr1{
                padding-top: 2.3vw;
                display: block;
                margin: 0 auto;
            }
            &--bnr2{
                padding-top: 5.7vw;
                display: block;
            }
            &--bnr3{
                padding-top: 2.3vw;
                display: block;
            }
            &--notice{
                text-align: right;
                &.minus{
                    margin-top: -3.5vw;
                }
            }
        }
        &__box{
            width: 100%;
            padding: 10px 0 0;
            margin: 10px auto 0;
        }
        &__campagin{
            width: 100%;
            padding: 15vw 5vw;

            .inner{
                padding: 0 5vw;
            }
            &--bnr{
                padding-top: 36vw;
    
            }
            &--bnr5{
            }
            &--bnr10{
                margin: 0 -17px 20px 0;
                display: block;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &--ttl{
                position: relative;
                picture{
                    position: absolute;
                    top: -20px;
                }
            }
            &--txt{
                @extend .notice;
                text-indent: -1em;
                padding-left: 1em;
                color: #000;
                text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
                -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                0px 1px 0 #FFF,  0-1px 0 #FFF,
                -1px 0 0 #FFF, 1px 0 0 #FFF;
            }
        }
        &__comb{
            background-image: url('../img/bg_wood01b.jpg');
            background-repeat: no-repeat;
            width: 100%;
            padding: 105px 5vw;

            &--txt{
                @extend .notice;
                color: var.$basic;
                text-indent: -1em;
                padding-left: 1em;
            }
            &--intro{
                padding-top: 10px;
                margin-bottom: 5px;
            }
            &--coming{
                margin-right: -33px;
                
            }
            &--zou{
                position: absolute;
                width: 20vw;
                left: -5vw;
                bottom: -20px;
            }
            &--neko{
                position: absolute;
                width: 22.8vw;
                right: -5vw;
                bottom: -20px;
            }
        }
        &__news{
            background: url('../img/bg_wood02.jpg') no-repeat;
            width: 100%;
            padding: 15vw 5vw;
            &--top{
                background-image: url('../img/news_top.jpg');
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: 0 0;
                width: 100%;
                padding: 24.8vw 0 0;
                margin: 0 auto;
                box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
            
            }
            &--x{
                max-height: 100%;
                overflow: hidden;
                width: 100%;
            }
            &--btn{
                @include var.bg();
                background-image: url('../img/btn_followx.png');
                width: 100%;
                height: 0;
                padding-top: 15%;
                margin-top: 0;
            }
        }
    }
    //SP ---------------------------------------------------------------
    @media screen and (max-width: var.$spbp) {


        .top{
            padding-top: 7.2vw;
            width: 100%;
        }
    
        .btm{
            padding-bottom: 7.2vw;
        }
        .inner{
            padding: 0 7.2vw;
        }
        &__feature{

            &--ttl{
                height: 15vw;
                width: 80%;
                margin: 0 auto;
            }
        }
        &__intro{
            padding-bottom: 15vw;
            &--inner{
                width: 100%;
                margin: 0 auto;
            }




            &--notice{
                @extend .notice;
                text-align: right;
                &.minus{
                    margin-top: 0;
                }
            }
        }

        &__campagin{
            .inner{
                padding: 0 6vw;
            }
            &--bnr{
                padding-top: 35vw;    
            }

            &--bnr10{
                margin: 0 0 3vw 0;
                display: block;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &--ttl{
                position: relative;
                picture{
                    position: absolute;
                    top: -2vw;
                }
            }

        }
        &__comb{
            width: 100%;
            padding: 15vw 5%;
            &--txt{
                color: var.$basic;
                text-indent: -1em;
                padding-left: 1em;
            }
            &--intro{
                padding-top: 10px;
                margin-bottom: 5px;
            }
            &--coming{
                margin-right: -33px;
                
            }

        }
        &__news{
            padding: 15vw 0;
            &--top{
                padding-top: 24.2vw;
                width: 90%;

            }
            &--x{
                max-height: 500px;
                overflow: scroll;
            }
            &--btn{
                @include var.bg();
                background-image: url('../img/btn_followx.png');
                width: 100%;
                height: 12.2vw;
                margin-top: 5vw;
            }
        }
    }

}




//タブレット対応 ----------
@media screen and (max-width: var.$tabw) {

}

//0222 ____campaign変更 -----------------
.main__intro--camp{
    background-image: url('../img/bg_campaign_mod.png');

}

//0227 ____campaign変更 -----------------
.main__comb{
    .inner{
        padding-bottom: 64px;
    }
    .btm{
        padding-bottom: 0;
    }
    
    &--mtxt{
        color: #000;
        line-height: 1.8;
        @include var.fz(18);
    }
    &--txt2{
        color: #000;
        line-height: 1.6;
        @include var.fz(16);
        padding: 0 0 1em 1em;
    }
    &--campaign{
        background-color: #d70066;
        position: relative;
        padding-bottom: 100px;
        &-inner{
            position: relative;
            padding: 0 50px;
        }
        .main__comb--txt{
            color: #000;
        }
    }
    &--campbox01{
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 30px;
        margin: 0 0 60px;
        position: relative;
        &-subttl{
            @include var.bg();
            background-image: url('../img/img_subttl-camp01b.png');
            width: 100%;
            padding-top: 19.87%;
            margin: 0 0 10px;
            font-size:0;
            line-height: 0;
        }
    }
    &--campbox02{
        background-color: rgba(255, 255, 0, 0.9);
        border-radius: 10px;
        padding: 30px;
        &-subttl{
            @include var.bg();
            background-image: url('../img/img_subttl-camp02.png');
            width: 100%;
            padding-top: 14.2%;
            margin: 0 0 10px;
            font-size:0;
            line-height: 0;
        }
    }
    &--txtblc{
        border-top: dashed 2px #000;
        padding: 20px 0 6px;
        margin-top: 30px;
    }
    &--nekowani{
        position: absolute;
        width: 284px;
        height: 181px;
        right: 1px;
        bottom: -72px;
    }
    &--lion{
        position: absolute;
        left: 0;
        top: -100px;
        width: 165px;
        height: 225px;
    }
    &--monky{
        position: absolute;
        left: -50px;
        bottom: -148px;
        width: 125px;
        height: 177px;
    }
    &--hipo{
        position: absolute;
        right: -50px;
        bottom: -150px;
        width: 150px;
        height: 214px;
    }

    //タブレット対応 ----------
    @media screen and (max-width: var.$tabw) {
        &--campaign{

            &-inner{
                position: relative;
                padding: 0 5vw;
            }

        }
        &--nekowani{
            position: absolute;
            width: 31.6%;
            height: 20.1vw;
            right: 1px;
            bottom: -10.22vw;
        }
        &--lion{
            position: absolute;
            left: 0;
            top: -11.1vw;
            width: 18.3vw;
            height: 25vw;
        }
        &--monky{
            position: absolute;
            left: -5vw;
            bottom: -16.4vw;
            width: 13.8vw;
            height: 19.7vw;
        }
        &--hipo{
            position: absolute;
            right:-5vw;
            bottom: -16vw;
            width: 16.7vw;
            height: 23.8vw;
        }
    }

    //SP対応 ----------
    @media screen and (max-width: var.$spbp) {
        .inner{
            padding-bottom: 7.2vw;
        }
        
        &--mtxt{
            line-height: 1.6;
            @include var.fz(14);
        }
        &--txt2{
            line-height: 1.4;
            @include var.fz(12);
            padding: 0 0 1em 1em;
        }
        &--campaign{

            padding-bottom: 15vw;
            &-inner{
                position: relative;
                padding: 0 5vw;
            }
            .main__comb--txt{
                color: #000;
            }
        }
        &--campbox01{
            padding: 6vw;
            margin: 0 0 4vw;
            
            &-subttl{
                @include var.bg();
                background-image: url('../img/img_subttl-camp01b.png');
                width: 100%;
                padding-top: 19.87%;
                margin: 0 0 10px;

            }
        }
        &--campbox02{
            background-color: rgba(255, 255, 0, 0.9);
            border-radius: 10px;
            padding: 6vw;

            &-subttl{
                @include var.bg();
                background-image: url('../img/img_subttl-camp02.png');
                width: 100%;
                padding-top: 14.2%;
                margin: 0 0 10px;
            }
        }
        &--txtblc{
            border-top: dashed 2px #000;
            padding: 20px 0 6px;
            margin-top: 5vw;
        }
    }
}

.main__comb--notice{
    color: #FFF;
    @include var.fz(18);
    line-height: 1.5;
    margin: 10px 0 0;
    @media screen and (max-width: var.$spbp) {
        @include var.fz(14);

    }
}


.main__comb--linktxt{
    color: #5a0825; 
    @include var.fz(18);

    line-height: 1.5;
    a{
        text-decoration: underline;
    }
}
.main__comb--linktxt2{
    color: #5a0825;
    @include var.fz(18);
    padding-left: 4em;
    margin: 0 0 10px;
    line-height: 1.5;
    a{

        &:hover{
            opacity: 0.7;
        }
    }

}
@media screen and (max-width: var.$spbp) {
    .main__comb--linktxt, .main__comb--linktxt2{
        @include var.fz(14);
    }
    .main__comb--linktxt2{
        padding-left: 0;
    }


}

//０３１1用
.main{
    .inner{
        margin-top: -1px;
    }
    .mt10{
        margin-top: 10px;
    }
    &__intro{
        &--camp{
            background-image: url('../img/bg_campaign_0311.png');
            margin: 60px 0 0;
            background-size: 100% auto;
            position: relative;
            background-repeat: no-repeat;
            &-box{
                display: flex;
                justify-content: space-between;
                width: 667px;
                padding: 142px 0 79px;
                margin: 0 auto;
            }
        }
        &--x{
            @include var.bg();
            background-image: url('../img/btn_x-mod.png');
            width: 299px;
            height: 80px;
            background-size: cover;
        }
        &--insta{
            @include var.bg();
            background-image: url('../img/btn_insta-mod.png');
            width: 359px;
            height: 80px;
            background-size: cover;
        }
        &--camp{
            margin-bottom: 24px;
            &-app{
                display: flex;
                justify-content: space-between;
                width: 566px;
                padding: 0 0 53px;
                margin: 0 auto;
                &01{
                    @include var.bg();
                    background-image: url('../img/btn_app_origin_0311.png');
                    width: 242px;
                    height: 89px;
                    background-size: cover;
                }
                &02{
                    @include var.bg();
                    background-image: url('../img/btn_google_origin_0311.png');
                    width: 301px;
                    height: 89px;
                    background-size: cover;
                }
            }

        }
        &--lion{
            left: -52px;
            bottom: -18px;
        }
        &--hipo{
            right: -35px;
            bottom: -18px;

        }
        &--notice02{
            text-align: left;
            color: #FFF;
            @include var.fz(14);
            line-height: 1.3;
            text-indent: -1em;
            padding-left: 1em;
            margin: 0 0 5px;
        }

    }
    @media screen and (max-width: var.$tabw) {
        &__intro{
            padding: 5vw 0 15vw;

            &--inner{
                width: 100%;
                padding: 0 5vw;
                margin: 0 auto;
            }
            &--camp{
                margin: 5vw 0 5vw;
                background-size: 100% auto;
                position: relative;
                background-repeat: no-repeat;
                width: 100%;
                padding: 0 5vw;
                &-box{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 21% 2.6% 12%;
                    margin: 0 auto;
                }
                
                &-app{
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    padding: 0 0 12%;
                    margin: 0 auto;
                    &01{
                        width: 27vw;
                        height: 10vw;
                        background-size: cover;
                    }
                    &02{
                        width: 34vw;
                        height: 10vw;
                        background-size: cover;
                    }
                }
            }
            &--lion{
                left: -5vw;
                bottom: -4vw;
            }
            &--hipo{
                bottom: -4vw;

                right: -2vw;
            }
            &--x{
                width: 33.6vw;
                height: 8.9vw;
                background-size: cover;
            }
            &--insta{
                width: 40.3vw;
                height: 8.9vw;
                background-size: cover;
            }
            &--bnr1{
                padding-top: 2.3vw;
                display: block;
                margin: 0 auto;
            }
            &--bnr2{
                padding-top: 5.7vw;
                display: block;
            }
            &--bnr3{
                padding-top: 2.3vw;
                display: block;
            }
            &--notice{
                text-align: right;
                &.minus{
                    margin-top: -3.5vw;
                }
            }

        }

    }

}