$basic: #5A0825;
$bc: #FF583B;
$bg: #000000;
$bc2: #32667A;
$white: #FFFFFF;
$spbp: 599px;
// $pcbp: 1024px;
$tabw: 1025px;

$bg_dark: #32667A;
$bg2: #d8d8e4;
$imgpath: '/assets/img/';
$maxW: 800px;
@mixin bg(){
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
    background-size: 100% auto;

}
@mixin fz($size) {
	font-size: calc($size / 16) + rem;
    font-family:  'Noto Sans JP', sans-serif;
}

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.monserrat{
    font-family: 'Montserrat', sans-serif;
}




//フェードイ
.fadein00 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
    
.fadein01 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}

.fadein02 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}
    
.fadein03 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 2.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}
    
.fadein04 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
    
//extend
