@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.monserrat {
  font-family: "Montserrat", sans-serif;
}

.fadein00 {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fadein01 {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fadein02 {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fadein03 {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fadein04 {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-delay: 2.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.notice, .cfooter__btmnotice, .cfooter__notice {
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (max-width: 599px) {
  .notice, .cfooter__btmnotice, .cfooter__notice {
    font-size: 0.75rem;
  }
}

.cfooter {
  width: 100%;
  padding: 108px 0 0;
}
.cfooter__inner {
  margin: 0 auto;
  max-width: 904px;
}
.cfooter__notice {
  text-align: center;
  margin-top: 70px;
}
.cfooter__btmnotice {
  text-align: center;
}
.cfooter__blc {
  display: flex;
  justify-content: center;
}
.cfooter__ginbis {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/bnr_ginbis.png");
  width: 300px;
  height: 60px;
  margin: 0 10px;
}
.cfooter__time {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/bnr_time.png");
  width: 300px;
  height: 60px;
  margin: 0 10px;
}
.cfooter__victor {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/bnr_victor.png");
  width: 300px;
  height: 60px;
  margin: 20px auto 50px;
}
.cfooter__links {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.cfooter__links li {
  margin: 0 8px;
}
.cfooter__links li a {
  font-size: 1rem;
  text-decoration: underline;
  color: #FFF;
}
@media screen and (max-width: 599px) {
  .cfooter {
    padding: 20vw 0 10vw;
    margin: 0;
  }
  .cfooter__inner {
    padding: 0;
  }
  .cfooter__blc {
    display: block;
  }
  .cfooter__ginbis {
    width: 260px;
    height: 52px;
    margin: 0 auto 10px;
  }
  .cfooter__time {
    width: 260px;
    height: 52px;
    margin: 0 auto 10px;
  }
  .cfooter__victor {
    width: 260px;
    height: 52px;
    margin: 10px auto 50px;
  }
  .cfooter__links {
    margin-bottom: 10px;
    display: block;
  }
  .cfooter__links li {
    margin: 0 10px;
    text-align: center;
  }
  .cfooter__links li a {
    font-size: 0.75rem;
  }
  .cfooter__notice {
    margin-top: 50px;
  }
}

.campHeader {
  background-color: #D70066;
  position: relative;
}
.campHeader__fv {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  height: 100dvh;
  position: relative;
}
.campHeader__btnblc {
  display: flex;
  justify-content: space-between;
  height: 14.3vh;
  height: 14.3dvh;
  width: 127.8vh;
  width: 127.8dvh;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 8.1vh;
  bottom: 8.1dvh;
}
.campHeader__btn01 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/camp/btn_top01.png");
  height: 14.3vh;
  height: 14.3dvh;
  width: 63vh;
  width: 63dvh;
}
.campHeader__btn02 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/camp/btn_top02.png");
  width: 63vh;
  width: 63dvh;
  height: 14.3vh;
  height: 14.3dvh;
}
@media screen and (max-width: 1025px) {
  .campHeader__fv {
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
    background-size: 100% auto;
    background-size: 100% auto;
    background-position: 0 0;
    width: 100%;
    height: 95.7vw;
    position: relative;
  }
  .campHeader__btnblc {
    height: 9.8vw;
    width: 89.5vw;
    bottom: auto;
    top: 75vw;
  }
  .campHeader__btn01 {
    height: 9.8vw;
    width: 44vw;
  }
  .campHeader__btn02 {
    height: 9.8vw;
    width: 44vw;
  }
}
@media screen and (max-width: 599px) {
  .campHeader__fv {
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
    background-size: 100% auto;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    height: 100dvh;
    max-height: 200vw;
    width: 100%;
  }
  .campHeader__btnblc {
    display: block;
    height: auto;
    width: 87vw;
    top: 133vw;
  }
  .campHeader__btn01 {
    height: 19.6vw;
    width: 87vw;
    margin-bottom: 10px;
  }
  .campHeader__btn02 {
    height: 19.6vw;
    width: 87vw;
  }
}

.webp .campHeader__fv {
  background-image: url("../img/camp/pcfv-mod.webp");
}
@media screen and (max-width: 1025px) {
  .webp .campHeader__fv {
    background-image: url("../img/camp/tbbg-mod.webp");
  }
}
@media screen and (max-width: 599px) {
  .webp .campHeader__fv {
    background-image: url("../img/camp/spbg-mod.webp");
  }
}

.no-webp .campHeader__fv {
  background-image: url("../img/camp/pcfv-mod.jpg");
}
@media screen and (max-width: 1025px) {
  .no-webp .campHeader__fv {
    background-image: url("../img/camp/tbbg-mod.jpg");
  }
}
@media screen and (max-width: 599px) {
  .no-webp .campHeader__fv {
    background-image: url("../img/camp/spbg-mod.png") no-repeat;
  }
}

body {
  margin: 0;
  padding: 0;
}

.notice, .cmain__intro--notice {
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (max-width: 599px) {
  .notice, .cmain__intro--notice {
    font-size: 0.75rem;
  }
}

.cmain img {
  width: 100%;
  height: auto;
}
.cmain__intro {
  background-image: url("../img/bg_wood01b.jpg");
  background-size: cover;
  width: 100%;
  padding: 100px 0;
  margin: 0;
}
.cmain__intro--camp {
  max-width: 904px;
  margin: 0 auto;
  background-image: url("../img/camp/bg_link02.png");
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
}
.cmain__intro--camp-app {
  display: flex;
  justify-content: space-between;
  width: 76.2%;
  margin: 0 auto;
  padding-top: 188px;
}
.cmain__intro--camp-app01 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/btn_apporigin.png");
  width: 297px;
  height: 109px;
  background-size: cover;
}
.cmain__intro--camp-app02 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/btn_google_origin_0311.png");
  width: 368px;
  height: 109px;
  background-size: cover;
}
.cmain__intro--camp-box {
  display: flex;
  justify-content: space-between;
  width: 70.3%;
  padding: 95px 0 52px;
  margin: 0 auto;
}
.cmain__intro--lion {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/img_lion.png");
  width: 175px;
  height: 209px;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: -56px;
}
.cmain__intro--hipo {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/img_hipo.png");
  width: 142px;
  height: 192px;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  right: -22px;
}
.cmain__intro--x {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/bg_xbtn.png");
  width: 199px;
  height: 90px;
}
.cmain__intro--insta {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/bg_instabtn.png");
  width: 199px;
  height: 90px;
}
.cmain__intro--line {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/bg_linebtn.png");
  width: 199px;
  height: 90px;
}
.cmain__intro--notice {
  text-align: right;
}
.cmain__intro--notice.minus {
  margin-top: -30px;
}
@media screen and (max-width: 1025px) {
  .cmain__intro {
    padding: 50px 5vw;
    margin: 0;
  }
  .cmain__intro--camp {
    max-width: 100%;
    margin: 0 auto;
  }
  .cmain__intro--camp-app {
    width: 76.2%;
    margin: 0 auto;
    padding-top: 18.66vw;
  }
  .cmain__intro--camp-app01 {
    width: 30vw;
    height: 10.93vw;
  }
  .cmain__intro--camp-app02 {
    width: 37vw;
    height: 10.93vw;
  }
  .cmain__intro--camp-box {
    padding: 9.4vw 0 5vw;
    margin: 0 auto;
  }
  .cmain__intro--lion {
    width: 17.33vw;
    height: 20.66vw;
    position: absolute;
    bottom: 10px;
    left: -4vw;
  }
  .cmain__intro--hipo {
    width: 14.13vw;
    height: 19vw;
    position: absolute;
    bottom: 10px;
    right: -4vw;
  }
  .cmain__intro--x {
    width: 19.86vw;
    height: 8.9vw;
  }
  .cmain__intro--insta {
    width: 19.86vw;
    height: 8.9vw;
  }
  .cmain__intro--line {
    width: 19.86vw;
    height: 8.9vw;
  }
  .cmain__intro--notice {
    text-align: right;
  }
  .cmain__intro--notice.minus {
    margin-top: -30px;
  }
}

.faq {
  margin-bottom: 60px;
}
.faq__blc {
  background-color: #FFF;
  border: solid 1px #A8A8A8;
  border-radius: 36px;
  margin: 0 auto 10px;
}
.faq__blc--small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__blc--arrow {
  width: 24px;
  height: 24px;
  margin: 0 0 0 30px;
}
.faq__blc--arrow span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/camp/plus.svg");
  background-size: 100% auto;
}
.faq__blc--txt {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.faq__blc--txt2 {
  margin: 0 0;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
}
.faq__blc--note {
  font-size: 0.75rem;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 5px;
}
.faq__blc--q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}
.faq__blc--a {
  display: none;
}
.faq__blc--a-inner {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../img/camp/line.svg") repeat-x;
  background-size: 12px 3px;
  background-position: top 0 right 0;
  padding: 20px 35px;
}
.faq__blc--a-inner .faq__blc--txt {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .faq {
    margin-bottom: 10vw;
  }
  .faq__blc {
    border-radius: 36px;
    margin: 0 auto 10px;
  }
  .faq__blc--arrow {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  .faq__blc--arrow span {
    width: 16px;
    height: 16px;
  }
  .faq__blc--txt {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.34;
  }
  .faq__blc--txt2 {
    display: block;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .faq__blc--note {
    font-size: 0.6875rem;
    text-indent: -1em;
    padding-left: 1em;
  }
  .faq__blc--q {
    padding: 16px 26px;
  }
  .faq__blc--a-inner {
    background-size: 8px 2px;
    padding: 16px 26px;
  }
}

.open .faq__blc--arrow span {
  background-image: url("../img/camp/minus.svg");
}

.audition {
  background-color: #F5F5E8;
  background-image: url("../img/camp/bg_present.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  padding-top: 65px;
  padding-top: 35px;
}
.audition__ttl {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/ttl_auditon02.png");
  width: 100%;
  padding-top: 37%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.audition__list {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #000;
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 5px;
}
.audition__list li {
  line-height: 1.5;
  font-size: 1.125rem;
  margin: 0 0 10px;
}
.audition__list li::before {
  content: "・";
}
.audition__table {
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 26px 26px 0;
  margin-bottom: 60px;
}
.audition__table--blc {
  border-top: solid 1px #000;
  display: flex;
  align-items: stretch;
}
.audition__table--blc.last {
  border-bottom: solid 1px #000;
}
.audition__table--ttl {
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #FFF;
  text-align: center;
  width: 235px;
  padding: 20px;
  line-height: 1.2;
}
.audition__table--ttl span {
  font-size: 0.8em;
}
.audition__table--ttl.red {
  color: #D70066;
}
.audition__table--ttlin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.audition__table--txt {
  font-weight: 400;
  font-size: 1rem;
  padding: 20px;
  line-height: 1.4;
}
.audition__tolink {
  background: #FFF;
  color: #000;
  font-size: 2.375rem;
  text-align: center;
  border-radius: 30px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding: 8px 0;
  border: solid 2px #000;
  display: block;
  background-image: url("../img/camp/arrow.svg");
  background-repeat: no-repeat;
  background-size: 18px 28px;
  background-position: right 20px center;
}
@media screen and (max-width: 1025px) {
  .audition {
    padding-top: 5vw;
  }
  .audition__list li {
    font-size: 0.9375rem;
    margin: 0 0 10px;
  }
  .audition__table {
    padding: 2vw 2vw 0;
    margin-bottom: 60px;
  }
  .audition__table--blc {
    border-top: solid 1px #000;
    display: block;
    align-items: stretch;
  }
  .audition__table--blc.last {
    border-bottom: solid 1px #000;
  }
  .audition__table--ttl {
    border-bottom: dashed 1px #000;
    font-size: 1rem;
    width: 100%;
    padding: 10px 0;
  }
  .audition__table--txt {
    font-size: 0.8125rem;
    padding: 15px 0;
  }
  .audition__tolink {
    font-size: 1.25rem;
    letter-spacing: 0;
    margin: 0 auto;
    padding: 8px 0;
    border: solid 1px #000;
    background-size: 14px 20px;
    background-position: right 16px center;
  }
}
.present {
  background-color: #FCEE21;
  background-image: url("../img/camp/bg_present.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  padding-bottom: 65px;
}
.present .faq__blc {
  border: solid 1px #D70066;
}
.present .presentblc {
  padding-top: 347px;
}
.present__blc {
  position: relative;
}
.present__ttl {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/ttl_present02.png");
  width: 100%;
  padding-top: 41.4%;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -20px;
  transform: translate(-50%, 0);
  left: 50%;
}
.present__shohin li {
  margin: 0 0 20px;
}
@media screen and (max-width: 1025px) {
  .present {
    padding-bottom: 10vw;
  }
  .present .presentblc {
    padding-top: calc(41.4vw - 20px);
  }
  .present__blc {
    position: relative;
  }
  .present__ttl {
    width: 100%;
    padding-top: 41.4vw;
    top: -20px;
    transform: translate(-50%, 0);
    left: 50%;
  }
  .present__shohin li {
    margin: 0 0 20px;
  }
}
.cmain__btcblc--in {
  max-width: 630px;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}
.cmain__btcblc--in img {
  width: 100%;
  height: auto;
}

.cmain__btcblc {
  background-color: #D70066;
  width: 100%;
}

.cmain__blc {
  margin: 0 0 100px;
}
.cmain__sblc {
  margin: 0 auto 40px;
}
.cmain__inner {
  max-width: 904px;
  margin: 0 auto;
  padding-bottom: 60px;
  position: relative;
}
.cmain__txt {
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 0 0 10px;
}
.cmain__subttl {
  background: #000;
  color: #FFF;
  font-size: 2.375rem;
  text-align: center;
  border-radius: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin: 0 auto 30px;
}
.cmain__note {
  font-size: 0.875rem;
  line-height: 1.4;
  text-indent: -1em;
  padding-left: 1em;
  margin: 5px 0;
}
.cmain__note--c {
  text-align: center;
  line-height: 1.4;
  margin: -auto 10px;
}
.cmain__steps {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cmain__steps li {
  max-width: 216px;
  margin: 0 0 20px;
}
.cmain__steps li img {
  width: 100%;
  height: auto;
}
.cmain__faq {
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 60px 0;
}
.cmain__faqsubttl {
  text-align: center;
  color: #D70066;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0 auto 8px;
}
.cmain__faqttl {
  text-align: center;
  color: #D70066;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  margin: 0 auto 40px;
}
.cmain__txt--c {
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto 1em;
}
.cmain__txt--c a {
  color: #D70066;
}
@media screen and (max-width: 1025px) {
  .cmain .present .cmain__steps {
    margin-bottom: 5vw;
  }
  .cmain .present .cmain__steps li {
    min-width: 46%;
    margin: 0 1vw 1%;
  }
  .cmain .cmain__btcblc--in {
    max-width: 90vw;
  }
  .cmain__btcblc {
    margin-top: 10vw;
  }
  .cmain__blc {
    margin: 0 0 10vw;
  }
  .cmain__sblc {
    margin: 0 auto 6vw;
  }
  .cmain__inner {
    max-width: 100%;
    padding: 0 5vw 0;
  }
  .cmain__txt {
    line-height: 1.5;
    font-size: 0.9375rem;
    margin: 0 0 10px;
  }
  .cmain__subttl {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 auto 3vw;
  }
  .cmain__note {
    font-size: 0.75rem;
    margin: 5px 0;
  }
  .cmain__note--c {
    font-size: 0.75rem;
    margin: 0 auto 10px;
  }
  .cmain__steps {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cmain__steps li {
    max-width: 30%;
    margin: 0 1vw 10px;
  }
  .cmain__faq {
    padding: 10vw 0;
  }
  .cmain__faqsubttl {
    font-weight: 700;
    font-size: 0.875rem;
    margin: 0 auto 8px;
  }
  .cmain__faqttl {
    font-size: 1.25rem;
    margin: 0 auto 40px;
  }
  .cmain__txt--c {
    text-align: center;
    font-size: 0.875rem;
    margin: 0 auto 1em;
  }
}

.policymain li {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}
.policymain p,
.policymain h2 {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

.policy__underline {
  text-decoration: underline;
}
.policy__txt {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  margin: 0 0 1.8em;
}
.policy__txt-b {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  margin: 2em 0 0;
  text-indent: -1em;
  padding-left: 1em;
}
.policy__txt.centre {
  text-align: center;
}
.policy__txt span {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 0.8125rem;
  display: block;
  margin-bottom: 0.5em;
}
.policy__txt small {
  font-size: 0.8125rem;
}
.policy__box {
  counter-reset: item;
  padding-left: 1em;
  margin-left: 1em;
  margin-top: 1em;
}
.policy__box li {
  position: relative;
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #444;
  margin-bottom: 2em;
}
.policy__box li a {
  word-break: break-all;
}
.policy__box li::before {
  counter-increment: item;
  content: counter(item) ".";
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #444;
  position: absolute;
  left: -1.6em;
}
.policy__alp {
  counter-reset: num;
  padding-left: 1em;
  margin-left: 0.6em;
  margin-top: 1em;
  margin-bottom: 2em;
}
.policy__alp li {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 1em;
}
.policy__alp li::before {
  counter-increment: num;
  content: "(" counter(num, lower-alpha) ")";
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  position: absolute;
  left: -1.6em;
}
.policy__greek {
  counter-reset: greek;
  padding-left: 1em;
  margin-left: 0.6em;
  margin-top: 1em;
}
.policy__greek li {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 1em;
}
.policy__greek li::before {
  counter-increment: greek;
  content: "(" counter(greek, lower-roman) ")";
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  position: absolute;
  left: -2.2em;
  text-align: right;
}
.policy__ttl {
  margin-top: 3em;
  margin-bottom: 2em;
}
.policy__note {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
  text-indent: -0.5em;
  padding-left: 0.5em;
  margin-bottom: 1.8em;
}
@media screen and (max-width: 599px) {
  .policy__txt {
    font-size: 0.6875rem;
    line-height: 1.4;
    margin: 0 0 1.4em;
  }
  .policy__txt-b {
    font-size: 0.6875rem;
    line-height: 1.4;
  }
  .policy__box {
    margin-top: 1em;
  }
  .policy__box li {
    font-size: 0.6875rem;
    line-height: 1.4;
    color: #444;
    margin-bottom: 2em;
  }
  .policy__box li::before {
    counter-increment: item;
    content: counter(item) ".";
    font-size: 0.6875rem;
    line-height: 1.4;
    color: #444;
    position: absolute;
    left: -1.6em;
  }
  .policy__alp {
    counter-reset: num;
    padding-left: 1em;
    margin-left: 0;
  }
  .policy__alp li {
    font-size: 0.6875rem;
    line-height: 1.4;
    margin-bottom: 1em;
  }
  .policy__alp li::before {
    counter-increment: num;
    content: "(" counter(num, lower-alpha) ")";
    font-size: 0.6875rem;
    line-height: 1.4;
    color: #444;
    position: absolute;
    left: -1.6em;
  }
  .policy__greek {
    counter-reset: greek;
    padding-left: 1em;
    margin-left: 0.6em;
    margin-top: 1em;
  }
  .policy__greek li {
    font-size: 0.6875rem;
    line-height: 1.4;
    margin-bottom: 1em;
  }
  .policy__greek li::before {
    counter-increment: greek;
    content: "(" counter(greek, lower-roman) ")";
    font-size: 0.6875rem;
    line-height: 1.4;
    color: #444;
    position: absolute;
    left: -1.6em;
  }
  .policy__note {
    font-size: 0.6875rem;
    line-height: 1.4;
    color: #444;
    text-indent: -0.5em;
    padding-left: 0.5em;
    margin-bottom: 1.8em;
  }
}

.policymain {
  background: url("../img/bg_wood02.jpg") repeat-y;
  width: 100%;
  padding: 108px 0;
}
.policymain__box {
  display: flex;
  justify-content: center;
}
.policymain__ttl {
  text-align: center;
}
.policymain__ttl a {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/logo_policy.png");
  background-repeat: no-repeat;
  width: 290px;
  height: 126px;
  margin: 0 auto 50px;
}
.policymain__subttl {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto 12px;
}
.policymain__subttl-en {
  text-align: center;
  font-weight: bold;
  margin: 0 auto 60px;
}
.policymain__inner {
  background: #FFF;
  padding: 60px 40px;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.policymain__top {
  display: block;
  margin: 30px 10px;
  color: #000;
  text-align: center;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}
.policymain__top a {
  text-decoration: underline;
}
@media screen and (max-width: 599px) {
  .policymain {
    padding: 15vw 0;
  }
  .policymain__ttl {
    text-align: center;
  }
  .policymain__ttl a {
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
    background-size: 100% auto;
    background-image: url("../img/logo_policy.png");
    background-repeat: no-repeat;
    width: 40.2vw;
    height: 17.5vw;
    margin: 0 auto 8vw;
  }
  .policymain__subttl {
    font-size: 1.5rem;
    margin: 0 auto 0.5em;
    text-align: center;
  }
  .policymain__subttl-en {
    margin: 0 auto 10vw;
  }
  .policymain__inner {
    background: #FFF;
    padding: 10vw 5vw;
    max-width: 100%;
    width: 90%;
  }
}

.policymain__subttl {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.policy__subttl {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: #444;
}
.policy__notice {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 0.8125rem;
  margin-bottom: 0.5em;
}
.policy__cambox {
  counter-reset: item;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-bottom: 1.8em;
}
.policy__cambox li {
  position: relative;
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #444;
}
.policy__cambox li a {
  word-break: break-all;
}
.policy__cambox li::before {
  counter-increment: item;
  content: "(" counter(item) ")";
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #444;
  position: absolute;
  left: -1.6em;
}
.policy__cambox--nihon {
  counter-reset: my-counter;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-bottom: 0.8em;
}
.policy__cambox--nihon li {
  position: relative;
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #444;
}
.policy__cambox--nihon li a {
  word-break: break-all;
}
.policy__cambox--nihon li::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  line-height: 1.8;
  font-size: 0.9375rem;
  position: absolute;
  left: -1.6em;
  background-color: #FFF;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  color: #444;
  font-size: 85%;
  line-height: 1;
  position: absolute;
  top: 0.45em;
}
@media screen and (max-width: 599px) {
  .policy__subttl {
    font-size: 0.6875rem;
    line-height: 1.4;
  }
  .policy__notice {
    font-size: 0.6875rem;
  }
  .policy__txt small {
    font-size: 0.6875rem;
  }
  .policy__txt span {
    font-size: 0.6875rem;
  }
  .policy__cambox li {
    font-size: 0.6875rem;
  }
  .policy__cambox li::before {
    font-size: 0.6875rem;
  }
  .policy__cambox--nihon li {
    font-size: 0.6875rem;
  }
  .policy__cambox--nihon li::before {
    font-size: 0.5rem;
    position: absolute;
    left: -1.6em;
    background-color: #FFF;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    width: 11px;
    position: absolute;
    top: 0.4em;
  }
}

.notice {
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (max-width: 599px) {
  .notice {
    font-size: 0.75rem;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.8s, transform 1.2s;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 599px) {
  a:hover {
    opacity: 1;
  }
}

.fixedbnr {
  position: fixed;
  right: 0;
  top: 5vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 298px;
  height: 168px;
  transition: 0.3s;
}
.fixedbnr.camp {
  background-image: none;
}
.fixedbnr .fixbtn01 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/fixbtn01.png");
  width: 298px;
  height: 75px;
  background-size: cover;
  margin-bottom: 10px;
}
.fixedbnr .fixbtn02 {
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  background-image: url("../img/camp/fixbotn02.png");
  width: 298px;
  height: 75px;
  background-size: cover;
}
@media screen and (max-width: 1025px) {
  .fixedbnr {
    position: fixed;
    right: 0;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.4);
    height: auto;
  }
  .fixedbnr.camp {
    bottom: 0 !important;
  }
  .fixedbnr .fixbtn01 {
    width: 39.7vw;
    height: 10vw;
    background-size: cover;
    margin: 0 5px;
  }
  .fixedbnr .fixbtn02 {
    width: 39.7vw;
    height: 10vw;
    background-size: cover;
    margin: 0 5px;
  }
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}